force-app/main/default/flows/Account_BeforeInsert_CreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Germany_as_billing_country</name>
        <label>Assign Germany as billing country</label>
        <locationX>116</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deutschland</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_ParentIdChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reparent_Date</name>
        <label>Set Reparent Date</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.ReparentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>now</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Address_not_null</name>
        <label>Address not null?</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_ParentIdChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Address_not_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Germany_as_billing_country</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Address not null?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if parent id has been changed.</description>
        <name>Check_ParentIdChanged</name>
        <label>ParentId changed?</label>
        <locationX>248</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Not changed</defaultConnectorLabel>
        <rules>
            <name>ParentIDChangeOrNew</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckIsParentCarestoneGroupAccount</targetReference>
            </connector>
            <label>ParentID Change or New</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if parent account is the highest account in account hierarchy.</description>
        <name>CheckIsParentCarestoneGroupAccount</name>
        <label>Is Carestone Group Account?</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>UpdateFieldsFromParentAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Carestone Group&quot;</stringValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <description>Date value 90 days from today.</description>
        <name>TodayPlus90Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+90</expression>
    </formulas>
    <interviewLabel>Account - Before Insert - Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Before Insert - Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates field from parent account details.</description>
        <name>UpdateFieldsFromParentAccount</name>
        <label>Update Fields from Parent Account</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Set_Reparent_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>E_Mail_bergeordneter_Makler__c</field>
            <value>
                <elementReference>$Record.Parent.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maklerbetreuer_Wirtschaftshaus_2__c</field>
            <value>
                <elementReference>$Record.Parent.Maklerbetreuer_Wirtschaftshaus_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Address_not_null</targetReference>
        </connector>
        <filterFormula>{!$Setup.AutomationController__c.AccountFlows__c}</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>10</triggerOrder>
</Flow>
