force-app/main/default/flows/Account_AfterInsert_CreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BatchUpdateChildAccounts</name>
        <label>Update Child Accounts</label>
        <locationX>72</locationX>
        <locationY>1823</locationY>
        <actionName>BatchAccountUpdateChildAccounts</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accounts</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <!--<nameSegment>BatchAccountUpdateChildAccounts</nameSegment>-->
        <!--<versionSegment>1</versionSegment>-->
    </actionCalls>
    <actionCalls>
        <name>BatchUpdateContacts</name>
        <label>Update Contacts</label>
        <locationX>204</locationX>
        <locationY>1523</locationY>
        <actionName>BatchAccountUpdateContacts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckChildAccountsUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accounts</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BatchAccountUpdateContacts</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BatchUpdateStructure</name>
        <label>Update Structure</label>
        <locationX>336</locationX>
        <locationY>1823</locationY>
        <actionName>BatchAccountUpdateStructure</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DisableUpdateStructureField</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accounts</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BatchAccountUpdateStructure</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Check_IBAN</name>
        <label>Check IBAN</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <actionName>Iban</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Ist_IBAN_ung_ltig</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>iban</name>
            <value>
                <elementReference>$Record.IBAN__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Iban</nameSegment>
        <outputParameters>
            <assignToReference>IbanValid</assignToReference>
            <name>ibanValid</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendConfirmation</name>
        <label>Send Confirmation</label>
        <locationX>204</locationX>
        <locationY>1223</locationY>
        <actionName>Account.Maklerschutz_best_tigt</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CheckContactUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Maklerschutz_best_tigt</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Checks if non-permanent broker protection exists.</description>
        <name>CheckBrokerProtection</name>
        <label>Broker Protection?</label>
        <locationX>336</locationX>
        <locationY>1115</locationY>
        <defaultConnector>
            <targetReference>CheckContactUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not or permanent protected</defaultConnectorLabel>
        <rules>
            <name>BrokerProtected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Maklerschutz_besteht__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Maklerschutz_bis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dauerhaft_gesch_tzt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendConfirmation</targetReference>
            </connector>
            <label>Broker protected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if fields are changed which triggers child account updates.</description>
        <name>CheckChildAccountsUpdate</name>
        <label>Child Accounts Update?</label>
        <locationX>336</locationX>
        <locationY>1715</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EmailChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BatchUpdateChildAccounts</targetReference>
            </connector>
            <label>Email changed</label>
        </rules>
        <rules>
            <name>UpdateStructure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Struktur_aktualisieren__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BatchUpdateStructure</targetReference>
            </connector>
            <label>Update Structure</label>
        </rules>
    </decisions>
    <decisions>
        <description>Are fields changed which must be changed in child contacts?</description>
        <name>CheckContactUpdate</name>
        <label>Contacts update?</label>
        <locationX>336</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>CheckChildAccountsUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No need</defaultConnectorLabel>
        <rules>
            <name>UpdateContacts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Maklerbetreuer_Wirtschaftshaus_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BatchUpdateContacts</targetReference>
            </connector>
            <label>Update Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>IBAN_nicht_leer_oder_ge_ndert</name>
        <label>IBAN nicht leer oder ge채ndert?</label>
        <locationX>336</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>CheckBrokerProtection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IBAN_nicht_leer_oder_ge_ndert2</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IBAN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IBAN__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_IBAN</targetReference>
            </connector>
            <label>IBAN nicht leer oder ge채ndert?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>IBAN_nicht_leer_oder_ge_ndert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IBAN_nicht_leer_oder_ge_ndert</targetReference>
            </connector>
            <label>Is New?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ist_IBAN_ung_ltig</name>
        <label>Ist IBAN ung체ltig?</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>CheckBrokerProtection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ist_IBAN_ung_ltig2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IbanValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Ist IBAN ung체ltig?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - After Insert - Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - After Insert - Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>DisableUpdateStructureField</name>
        <label>Disable Update Structure field</label>
        <locationX>336</locationX>
        <locationY>1931</locationY>
        <inputAssignments>
            <field>Struktur_aktualisieren__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>CheckBrokerProtection</targetReference>
        </connector>
        <inputAssignments>
            <field>IBANUngueltig__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <filterFormula>{!$Setup.AutomationController__c.AccountFlows__c}</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IbanValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
