force-app/main/default/flows/Account_Calendly_Code_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>accountNameUrlEncoded</name>
        <dataType>String</dataType>
        <expression>URLENCODE({!Get_account.Name})</expression>
    </formulas>
    <formulas>
        <name>calendlyCode</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;!-- Calendly Inline-Widget Beginn --&gt; &lt;div class=&quot;calendly-inline-widget&quot; data-url=&quot;https://calendly.com/&apos; + LOWER({!Get_account.Owner.FirstName})+&apos;-&apos;+LOWER({!Get_account.Owner.LastName}) + &apos;/online-sachwertwebinar?utm_source=&apos; + {!accountNameUrlEncoded} + &apos;&amp;utm_medium=&apos; + {!Get_account.Id} + &apos;&amp;utm_campaign=&apos; + {!campaignId} + &apos;&amp;utm_term=runzap&amp;hide_event_type_details=1&amp;hide_gdpr_banner=1&amp;primary_color=535353 &quot; style=&quot;min-width:320px;height:700px;&quot;&gt;&lt;/div&gt; &lt;script type=&quot;text/javascript&quot; src=&quot;https://assets.calendly.com/assets/external/widget.js&quot; async&gt;&lt;/script&gt; &lt;!-- Calendly Inline-Widget Ende --&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Account - Calendly Code Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Calendly Code Generator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calendly_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Calendly_Ausgabe</name>
        <label>Calendly Ausgabe</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Html_Code</name>
            <defaultValue>
                <stringValue>{!calendlyCode}</stringValue>
            </defaultValue>
            <fieldText>Html Code</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Calendly_Code</name>
        <label>Calendly Code</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calendly_Ausgabe</targetReference>
        </connector>
        <fields>
            <name>Campaign</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CampaignId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>CampaignMember</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Kampagne</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>campaignId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
