force-app/main/default/flows/Aufgabenvorlage_assignTasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>SET_CurrentTask</name>
        <label>Set - currentTask</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_TaskTemplate.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_TaskTemplate.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_form_dueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_TaskTemplate.Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STORE_TaskCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_Reset_Task_Occurances</name>
        <label>Set - Reset Task Occurances</label>
        <locationX>528</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>var_amountOfTaskOccurances</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_TaskTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_Task_Occurance</name>
        <label>Set - Task Occurance</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>var_amountOfTaskOccurances</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SET_CurrentTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>STORE_TaskCollection</name>
        <label>Store - task to collection</label>
        <locationX>264</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_coll_createdTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_sObj_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DEC_checkTaskNumber</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_checkTaskNumber</name>
        <label>Decision - check task number</label>
        <locationX>396</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>SET_Reset_Task_Occurances</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task Iteration Complete</defaultConnectorLabel>
        <rules>
            <name>Number_Does_Not_Equal_Task_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_TaskTemplate.AmountOfTasks__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_amountOfTaskOccurances</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_Task_Occurance</targetReference>
            </connector>
            <label>Number Does Not Equal Task Number</label>
        </rules>
    </decisions>
    <description>assigns selected tasks to Accounts Weekly Monday 8AM</description>
    <environments>Default</environments>
    <formulas>
        <name>var_form_dueDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR(TODAY()),
MONTH(TODAY()) ,
DAY(TODAY() + 4)
)</expression>
    </formulas>
    <interviewLabel>geplante Aufgaben - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aufgabenvorlage - Scheduled</label>
    <loops>
        <name>LOOP_TaskTemplate</name>
        <label>Loop - TaskTemplate</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>GET_TaskTemplate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_checkTaskNumber</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create - Tasks</label>
        <locationX>176</locationX>
        <locationY>1248</locationY>
        <inputReference>var_sObj_coll_createdTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_TaskTemplate</name>
        <label>Get - TaskTemplate</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_TaskTemplate</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TaskTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_TaskTemplate</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-01-02</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_amountOfTaskOccurances</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_sObj_coll_createdTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_sObj_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
