force-app/main/default/flows/Berechnung_Erstellen_Bearbeiten.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Angebot_als_PDF_an_Berechnung_anh_ngen</name>
        <label>Angebot als PDF an Berechnung anhängen</label>
        <locationX>336</locationX>
        <locationY>8126</locationY>
        <actionName>RestQuote</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Berechnung</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>calculationIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Apartments_f_r_Immobilie_0</name>
        <label>Apartments für Immobilie</label>
        <locationX>424</locationX>
        <locationY>3374</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Apartments_ausw_hlen_0</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Appartment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>ApartmentsQueryString</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>apartmentsForImmobilie</assignToReference>
            <name>sObjects</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Commit_Transaction</name>
        <label>Commit Transaction</label>
        <locationX>336</locationX>
        <locationY>8006</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Angebot_als_PDF_an_Berechnung_anh_ngen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Get_Existing_Apartments</name>
        <label>Get Existing Apartments</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_ErsterKaufer_Id_2</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Appartment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>ExistingApartmentsQueryString</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ExistingApartments</assignToReference>
            <name>sObjects</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Berechnung</name>
        <label>Navigate to Berechnung</label>
        <locationX>336</locationX>
        <locationY>8246</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Berechnung__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_apartment_to_addBerechnungsApartments</name>
        <label>Add apartment to addBerechnungsApartments</label>
        <locationX>644</locationX>
        <locationY>4622</locationY>
        <assignmentItems>
            <assignToReference>addBerechnungsApartments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentBerechnungsApartment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_selected_Apartments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ErsterKaufer_Id</name>
        <label>Assign ErsterKaufer Id</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ErsterKaeuferContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>verkaufsraum.ErsterKaeufer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ZweiterKaeufer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ErsterKaufer_Id_2</name>
        <label>Assign ErsterKaufer Id</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ErsterKaeuferContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>berechnung.ErsterKaeufer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Verkaufsraum</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_remaining_ErsterKaeufer_values</name>
        <label>Assign remaining ErsterKaeufer values</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ErsterKaeuferContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LoggedIn_User.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ErsterKaeufer_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_remaining_values</name>
        <label>Assign remaining values</label>
        <locationX>204</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>berechnung.Hauptimmobilie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>immobilieId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>berechnung.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Berechnung_Name_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Berechnung</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_remaining_Verkaufsraum_values</name>
        <label>Assign remaining Verkaufsraum values</label>
        <locationX>204</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>verkaufsraum.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verkaufsraum_Name_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Verkaufsraum</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_remaining_ZweiterKaeufer_values</name>
        <label>Assign remaining ZweiterKaeufer values</label>
        <locationX>402</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>ZweiterKaeuferContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LoggedIn_User.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ZweiterKaeufer_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Steigerung_Values_0</name>
        <label>Assign Steigerung Values</label>
        <locationX>204</locationX>
        <locationY>7550</locationY>
        <assignmentItems>
            <assignToReference>berechnung.Mietsteigerung__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mietsteigerung_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>berechnung.SteigerungInstandhaltung__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Steigerung_Instandhaltungskosten_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>berechnung.SteigerungVerwaltung__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Steigerung_Verwaltungskosten_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>berechnung.ZuVersteuerndesEinkommen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zu_versteuerndes_Einkommen_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>berechnung.Kirchensteuer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Kirchensteuer_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>berechnung.TaxableIncomePension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zu_versteuerndes_Einkommen_Rente_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_erster_K_ufer_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Steigerung_Values_0_0</name>
        <label>Assign Steigerung Values</label>
        <locationX>468</locationX>
        <locationY>7550</locationY>
        <assignmentItems>
            <assignToReference>berechnung.Mietsteigerung__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mietsteigerung_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>berechnung.SteigerungInstandhaltung__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Steigerung_Instandhaltungskosten_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>berechnung.SteigerungVerwaltung__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Steigerung_Verwaltungskosten_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>berechnung.ZuVersteuerndesEinkommen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zu_versteuerndes_Einkommen_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>berechnung.Kirchensteuer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Kirchensteuer_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>berechnung.TaxableIncomePension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zu_versteuerndes_Einkommen_Rente_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_erster_K_ufer_Contact_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Berechnung</name>
        <label>Assign values to Berechnung</label>
        <locationX>204</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>berechnung.Verkaufsraum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>verkaufsraum.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Berechnung</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_berechnung2</name>
        <label>Assign values to berechnung</label>
        <locationX>336</locationX>
        <locationY>6398</locationY>
        <assignmentItems>
            <assignToReference>berechnung.Eigenkapital__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eigenkapitalValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finanzierungsart_bar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Verkaufsraum</name>
        <label>Assign values to Verkaufsraum</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>verkaufsraum.ErsterKaeufer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErsterKaeuferContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ZweiterKaeufer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Verkaufsraum2</name>
        <label>Assign values to Verkaufsraum</label>
        <locationX>402</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>verkaufsraum.ZweiterKaeufer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZweiterKaeuferContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Verkaufsraum</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Berechnung_Name_zuweisenn</name>
        <label>Berechnung Name zuweisenn</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>berechnung.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Berechnung_Name_Edit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Apartments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_createApartment_to_false</name>
        <label>Set createApartment to false</label>
        <locationX>864</locationX>
        <locationY>4190</locationY>
        <assignmentItems>
            <assignToReference>createApartment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Apartments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_createApartment_to_true</name>
        <label>Set createApartment to true</label>
        <locationX>776</locationX>
        <locationY>3830</locationY>
        <assignmentItems>
            <assignToReference>createApartment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentBerechnungsApartment.Apartment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_all_selected_Apartments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentBerechnungsApartment.Immobilie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>immobilieId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentBerechnungsApartment.Berechnung__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Apartments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_deleteApartment_to_true</name>
        <label>Set deleteApartment to true</label>
        <locationX>776</locationX>
        <locationY>5054</locationY>
        <assignmentItems>
            <assignToReference>deleteApartment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_selected_apartments_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_deleteBerechnungsApartment_to_false</name>
        <label>Set deleteBerechnungsApartment to false</label>
        <locationX>864</locationX>
        <locationY>5414</locationY>
        <assignmentItems>
            <assignToReference>deleteApartment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_selected_apartments_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_immobilieId</name>
        <label>Set immobilieId</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>immobilieId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Immobilie</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ErsterKaeufer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_recordId</name>
        <label>Set recordId</label>
        <locationX>204</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>berechnung.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apartments_already_selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Apartment_already_in_collection</name>
        <label>Apartment already in collection</label>
        <locationX>996</locationX>
        <locationY>4070</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_Apartments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Apartment_already_in_collection2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_all_selected_Apartments.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Existing_Apartments.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_createApartment_to_false</targetReference>
            </connector>
            <label>Apartment already in collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Apartments_already_selected</name>
        <label>Apartments already selected?</label>
        <locationX>336</locationX>
        <locationY>3254</locationY>
        <defaultConnector>
            <targetReference>Apartments_f_r_Immobilie_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Apartments_already_selected2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allSelectedApartments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_all_selected_Apartments</targetReference>
            </connector>
            <label>Apartments already selected?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Berechnungs_Apartment_still_in_list</name>
        <label>Berechnungs Apartment still in list</label>
        <locationX>996</locationX>
        <locationY>5294</locationY>
        <defaultConnector>
            <targetReference>Loop_selected_apartments_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Berechnungs_Apartment_still_in_list2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_existing_apartments_2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_selected_apartments_2.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_deleteBerechnungsApartment_to_false</targetReference>
            </connector>
            <label>Berechnungs Apartment still in list</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_apartment</name>
        <label>Create apartment?</label>
        <locationX>776</locationX>
        <locationY>4502</locationY>
        <defaultConnector>
            <targetReference>Loop_all_selected_Apartments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_apartment2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createApartment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_apartment_to_addBerechnungsApartments</targetReference>
            </connector>
            <label>Create apartment?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_ErsterKaeufer</name>
        <label>Create ErsterKaeufer?</label>
        <locationX>534</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Assign_ErsterKaufer_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_ErsterKaeufer2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X1_K_ufer_anlegen_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_remaining_ErsterKaeufer_values</targetReference>
            </connector>
            <label>Create ErsterKaeufer?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_new_Berechnung</name>
        <label>Create new Berechnung?</label>
        <locationX>336</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>Apartments_already_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_new_Berechnung2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_remaining_values</targetReference>
            </connector>
            <label>Create new Berechnung?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_new_Verkaufsraum</name>
        <label>Create new Verkaufsraum?</label>
        <locationX>336</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>Create_new_Berechnung</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_new_Verkaufsraum2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Neuen_Verkaufsraum_erstellen_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_remaining_Verkaufsraum_values</targetReference>
            </connector>
            <label>Create new Verkaufsraum?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_ZweiterKaeufer</name>
        <label>Create ZweiterKaeufer?</label>
        <locationX>534</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Create_new_Verkaufsraum</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_ZweiterKaeufer2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X2_K_ufer_anlegen_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_remaining_ZweiterKaeufer_values</targetReference>
            </connector>
            <label>Create ZweiterKaeufer?</label>
        </rules>
    </decisions>
    <decisions>
        <name>deleteBerechnungsApartment_is_true</name>
        <label>deleteBerechnungsApartment is true?</label>
        <locationX>776</locationX>
        <locationY>5726</locationY>
        <defaultConnector>
            <targetReference>Loop_existing_apartments_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>deleteBerechnungsApartment_is_true2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deleteApartment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_BerechnungsApartments</targetReference>
            </connector>
            <label>deleteBerechnungsApartment is true?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Finanzierungsart_bar</name>
        <label>Finanzierungsart = bar?</label>
        <locationX>336</locationX>
        <locationY>6518</locationY>
        <defaultConnector>
            <targetReference>Get_Erster_K_ufer_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finanzierungsart_bar2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finanzierungsArt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Finanzierungsbausteine</targetReference>
            </connector>
            <label>Finanzierungsart = bar?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Finanzierungsbausteine_not_null</name>
        <label>Get Finanzierungsbausteine not null</label>
        <locationX>182</locationX>
        <locationY>6758</locationY>
        <defaultConnector>
            <targetReference>Get_Erster_K_ufer_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Finanzierungsbausteine_not_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Finanzierungsbausteine</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Finanzierungsbausteine_0</targetReference>
            </connector>
            <label>Get Finanzierungsbausteine not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>immobilieId_not_set</name>
        <label>immobilieId not set?</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_ErsterKaeufer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>immobilieId_not_set2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>immobilieId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_immobilieId</targetReference>
            </connector>
            <label>immobilieId not set?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_id_is_set</name>
        <label>Record id is set</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Neue_Berechnung_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_id_is_set2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Berechnung</targetReference>
            </connector>
            <label>Record id is set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_id_was_set_at_start</name>
        <label>Record id was set at start?</label>
        <locationX>336</locationX>
        <locationY>7310</locationY>
        <defaultConnector>
            <targetReference>Sonstige_Informationen_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_id_was_set_at_start2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_id_is_set2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sonstige_Informationen_0</targetReference>
            </connector>
            <label>Record id was set at start?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>immobilien</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Public__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Property__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>eigenkapitalValue</name>
        <dataType>Currency</dataType>
        <expression>value({!eigenkapital})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>mietsteigerungFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!berechnung.Mietsteigerung__c} != null, {!berechnung.Mietsteigerung__c}, false)</expression>
    </formulas>
    <interviewLabel>Berechnung Erstellen/Bearbeiten {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Berechnung Erstellen/Bearbeiten</label>
    <loops>
        <name>Loop_all_selected_Apartments</name>
        <label>Loop all selected Apartments</label>
        <locationX>336</locationX>
        <locationY>3710</locationY>
        <collectionReference>allSelectedApartments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_createApartment_to_true</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_existing_apartments_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_Apartments</name>
        <label>Loop Existing Apartments</label>
        <locationX>776</locationX>
        <locationY>3950</locationY>
        <collectionReference>ExistingApartments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Apartment_already_in_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_apartment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_existing_apartments_2</name>
        <label>Loop existing apartments 2</label>
        <locationX>336</locationX>
        <locationY>4934</locationY>
        <collectionReference>ExistingApartments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_deleteApartment_to_true</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Berechnungsapartments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_selected_apartments_2</name>
        <label>Loop selected apartments 2</label>
        <locationX>776</locationX>
        <locationY>5174</locationY>
        <collectionReference>allSelectedApartments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Berechnungs_Apartment_still_in_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>deleteBerechnungsApartment_is_true</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Berechnung</name>
        <label>Create Berechnung</label>
        <locationX>204</locationX>
        <locationY>2918</locationY>
        <connector>
            <targetReference>Set_recordId</targetReference>
        </connector>
        <inputReference>berechnung</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_ErsterKaeufer_Contact</name>
        <label>Create ErsterKaeufer Contact</label>
        <locationX>402</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Assign_values_to_Verkaufsraum</targetReference>
        </connector>
        <inputReference>ErsterKaeuferContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Verkaufsraum</name>
        <label>Create Verkaufsraum</label>
        <locationX>204</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>Assign_values_to_Berechnung</targetReference>
        </connector>
        <inputReference>verkaufsraum</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_ZweiterKaeufer_Contact</name>
        <label>Create ZweiterKaeufer Contact</label>
        <locationX>402</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Assign_values_to_Verkaufsraum2</targetReference>
        </connector>
        <inputReference>ZweiterKaeuferContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Berechnungsapartments</name>
        <label>Insert Berechnungsapartments</label>
        <locationX>336</locationX>
        <locationY>6158</locationY>
        <connector>
            <targetReference>Finanzierung</targetReference>
        </connector>
        <inputReference>addBerechnungsApartments</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_BerechnungsApartments</name>
        <label>Delete BerechnungsApartments</label>
        <locationX>644</locationX>
        <locationY>5846</locationY>
        <connector>
            <targetReference>Loop_existing_apartments_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Berechnung__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apartment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_existing_apartments_2.Id</elementReference>
            </value>
        </filters>
        <object>BerechnungsApartment__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Finanzierungsbausteine_0</name>
        <label>Delete Finanzierungsbausteine</label>
        <locationX>50</locationX>
        <locationY>6878</locationY>
        <connector>
            <targetReference>Get_Erster_K_ufer_Record</targetReference>
        </connector>
        <inputReference>Get_Finanzierungsbausteine</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Berechnung</name>
        <label>Get Berechnung</label>
        <locationX>138</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Berechnung_bearbeiten</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Berechnung__c</object>
        <outputReference>berechnung</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Hauptimmobilie__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Verkaufsraum__c</queriedFields>
        <queriedFields>Mietsteigerung__c</queriedFields>
        <queriedFields>SteigerungInstandhaltung__c</queriedFields>
        <queriedFields>SteigerungVerwaltung__c</queriedFields>
        <queriedFields>Kirchensteuer__c</queriedFields>
        <queriedFields>ZuVersteuerndesEinkommen__c</queriedFields>
        <queriedFields>TaxableIncomePension__c</queriedFields>
        <queriedFields>ErsterKaeufer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Erster_K_ufer_Record</name>
        <label>Get Erster Käufer Record</label>
        <locationX>336</locationX>
        <locationY>7190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_id_was_set_at_start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ErsterKaeuferContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Finanzierungsbausteine</name>
        <label>Get Finanzierungsbausteine</label>
        <locationX>182</locationX>
        <locationY>6638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Finanzierungsbausteine_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Berechnung__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Art__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Eigenkapital</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Finanzierungsbaustein__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LoggedIn_User</name>
        <label>Get LoggedIn User</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_id_is_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Berechnung</name>
        <label>Update Berechnung</label>
        <locationX>336</locationX>
        <locationY>7886</locationY>
        <connector>
            <targetReference>Commit_Transaction</targetReference>
        </connector>
        <inputReference>berechnung</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_erster_K_ufer_Contact</name>
        <label>Update erster Käufer Contact</label>
        <locationX>204</locationX>
        <locationY>7670</locationY>
        <connector>
            <targetReference>Update_Berechnung</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Erster_K_ufer_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Geburtsdatum_erster_K_ufer_0</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_erster_K_ufer_Contact_2</name>
        <label>Update erster Käufer Contact</label>
        <locationX>468</locationX>
        <locationY>7670</locationY>
        <connector>
            <targetReference>Update_Berechnung</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Erster_K_ufer_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Geburtsdatum_erster_K_ufer</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Apartments_ausw_hlen_0</name>
        <label>Apartments auswählen</label>
        <locationX>424</locationX>
        <locationY>3494</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_all_selected_Apartments</targetReference>
        </connector>
        <fields>
            <name>ImmobilieTex_0</name>
            <fieldText>&lt;p&gt;Immobilie: {!berechnung.Hauptimmobilie__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Apartments_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Appartment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,KaufpreisFormel__c,OeffentlicherStatus__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:368, KaufpreisFormel__c:175, OeffentlicherStatus__c:195</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isSerializedRecordData</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Name,2:Kaufpreis,3:Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Appartment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>apartmentsForImmobilie</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>ExistingApartments</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>allSelectedApartments</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Berechnung_bearbeiten</name>
        <label>Berechnung bearbeiten</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Berechnung_Name_zuweisenn</targetReference>
        </connector>
        <fields>
            <name>Berechnung_Name_Edit</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>berechnung.Name</elementReference>
            </defaultValue>
            <fieldText>Berechnung Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Der Name darf nicht länger als 80 Zeichen sein.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Berechnung_Name_Edit}) &lt;= 80</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finanzierung</name>
        <label>Finanzierung</label>
        <locationX>336</locationX>
        <locationY>6278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_berechnung2</targetReference>
        </connector>
        <fields>
            <name>FinanzierungsBausteine</name>
            <extensionName>c:finanzierungsBausteine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openAmountNotEqualZero</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>eigenkapital</assignToReference>
                <name>eigenkapital</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>finanzierungsArt</assignToReference>
                <name>finanzierungsArt</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Neue_Berechnung_0</name>
        <label>Neue Berechnung</label>
        <locationX>534</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>immobilieId_not_set</targetReference>
        </connector>
        <fields>
            <name>Berechnung_Name_0</name>
            <dataType>String</dataType>
            <fieldText>Berechnung Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Der Name darf nicht länger als 80 Zeichen sein.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Berechnung_Name_0}) &lt;= 80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Immobilie</name>
            <choiceReferences>immobilien</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Immobilie</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>immobilieId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Verkaufsraum_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Verkaufsraum__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Verkaufsraum</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Berechnung__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>parentId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>berechnung.Verkaufsraum__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Neuen_Verkaufsraum_erstellen_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Neuen_Verkaufsraum_erstellen_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Neuen Verkaufsraum erstellen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Neue_Berechnung_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Neue_Berechnung_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Verkaufsraum_Name_0</name>
                    <dataType>String</dataType>
                    <fieldText>Verkaufsraum Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Neuen_Verkaufsraum_erstellen_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ErsterKaeufer_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Verkaufsraum__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ErsterKaeufer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Erster Käufer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>verkaufsraum.ErsterKaeufer__c</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Neuen_Verkaufsraum_erstellen_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>X1_K_ufer_anlegen_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>X1_K_ufer_anlegen_0</name>
            <dataType>Boolean</dataType>
            <fieldText>1. Käufer anlegen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Neuen_Verkaufsraum_erstellen_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Neue_Berechnung_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Neue_Berechnung_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErsterKaeuferContactName_0</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>salutation,firstName,lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>salutationOptions</name>
                        <value>
                            <stringValue>Herr,Frau</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ErsterKaeuferContact.FirstName</assignToReference>
                        <name>firstName</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>ErsterKaeuferContact.LastName</assignToReference>
                        <name>lastName</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>ErsterKaeuferContact.Salutation</assignToReference>
                        <name>salutation</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ErsterKaeuferContactEmail_0</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>mustermann@beispiel.de</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ErsterKaeuferContact.Email</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>X1_K_ufer_anlegen_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ZweiterKaeufer_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ZweiterKaeufer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Zweiter Käufer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Verkaufsraum__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>verkaufsraum.ZweiterKaeufer__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Neuen_Verkaufsraum_erstellen_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>X2_K_ufer_anlegen_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>X2_K_ufer_anlegen_0</name>
            <dataType>Boolean</dataType>
            <fieldText>2. Käufer anlegen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Neuen_Verkaufsraum_erstellen_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Neue_Berechnung_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Neue_Berechnung_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ZweiterKaeuferContactName_0</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>salutation,firstName,lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>salutationOptions</name>
                        <value>
                            <stringValue>Herr,Frau</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ZweiterKaeuferContact.FirstName</assignToReference>
                        <name>firstName</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>ZweiterKaeuferContact.LastName</assignToReference>
                        <name>lastName</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>ZweiterKaeuferContact.Salutation</assignToReference>
                        <name>salutation</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ZweiterKaeuferContactemail_0</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>musterfrau@beispiel.de</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ZweiterKaeuferContact.Email</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>X2_K_ufer_anlegen_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sonstige_Informationen_0</name>
        <label>Sonstige Informationen</label>
        <locationX>204</locationX>
        <locationY>7430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Steigerung_Values_0</targetReference>
        </connector>
        <fields>
            <name>Mietsteigerung_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>berechnung.Mietsteigerung__c</elementReference>
            </defaultValue>
            <fieldText>Mietsteigerung</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Steigerung_Verwaltungskosten_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>berechnung.SteigerungVerwaltung__c</elementReference>
            </defaultValue>
            <fieldText>Steigerung Verwaltungskosten</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Steigerung_Instandhaltungskosten_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>berechnung.SteigerungInstandhaltung__c</elementReference>
            </defaultValue>
            <fieldText>Steigerung Instandhaltungskosten</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Kirchensteuer_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>berechnung.Kirchensteuer__c</elementReference>
            </defaultValue>
            <fieldText>Kirchensteuer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TaxInformationText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Die nachfolgenden Infos werden für eine korrekte Steuerberechnung benötigt. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Zu_versteuerndes_Einkommen_0</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>berechnung.ZuVersteuerndesEinkommen__c</elementReference>
            </defaultValue>
            <fieldText>Zu versteuerndes Einkommen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Zu_versteuerndes_Einkommen_Rente_0</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>berechnung.TaxableIncomePension__c</elementReference>
            </defaultValue>
            <fieldText>Zu versteuerndes Einkommen Rente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Geburtsdatum_erster_K_ufer_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Erster_K_ufer_Record.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Geburtsdatum erster Käufer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sonstige_Informationen_0_0</name>
        <label>Sonstige Informationen</label>
        <locationX>468</locationX>
        <locationY>7430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Steigerung_Values_0_0</targetReference>
        </connector>
        <fields>
            <name>Mietsteigerung_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Mietsteigerung</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Steigerung_Verwaltungskosten_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Steigerung Verwaltungskosten</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Steigerung_Instandhaltungskosten_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Steigerung Instandhaltungskosten</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Kirchensteuer_0_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Kirchensteuer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TaxInformationText</name>
            <fieldText>&lt;p&gt;Die nachfolgenden Infos werden für eine korrekte Steuerberechnung benötigt. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Zu_versteuerndes_Einkommen_0_0</name>
            <dataType>Currency</dataType>
            <fieldText>Zu versteuerndes Einkommen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Zu_versteuerndes_Einkommen_Rente_0_0</name>
            <dataType>Currency</dataType>
            <fieldText>Zu versteuerndes Einkommen Rente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Geburtsdatum_erster_K_ufer</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Erster_K_ufer_Record.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Geburtsdatum erster Käufer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LoggedIn_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ApartmentsQueryString</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT Id, Name, OeffentlicherStatus__c, Property__c, Property__r.Name, KaufpreisFormel__c FROM Appartment__c WHERE Property__c = &apos;{!berechnung.Hauptimmobilie__c}&apos;</text>
    </textTemplates>
    <textTemplates>
        <name>ExistingApartmentsQueryString</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT  Id, Name, OeffentlicherStatus__c, Property__c, Property__r.Name, KaufpreisFormel__c FROM Appartment__c WHERE ID IN (SELECT Apartment__c FROM BerechnungsApartment__c WHERE Berechnung__c = &apos;{!recordId}&apos;)</text>
    </textTemplates>
    <variables>
        <name>addBerechnungsApartments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BerechnungsApartment__c</objectType>
    </variables>
    <variables>
        <name>allSelectedApartments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Appartment__c</objectType>
    </variables>
    <variables>
        <name>apartmentsForImmobilie</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appartment__c</objectType>
    </variables>
    <variables>
        <name>berechnung</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Berechnung__c</objectType>
    </variables>
    <variables>
        <name>berechnungen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Berechnung__c</objectType>
    </variables>
    <variables>
        <name>createApartment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentBerechnungsApartment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BerechnungsApartment__c</objectType>
    </variables>
    <variables>
        <name>deleteApartment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>deleteBerechnungsApartments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BerechnungsApartment__c</objectType>
    </variables>
    <variables>
        <name>eigenkapital</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErsterKaeuferContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ExistingApartments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appartment__c</objectType>
    </variables>
    <variables>
        <name>finanzierungsArt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>immobilieId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>openAmountNotEqualToZero</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queryString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SELECT Id, KreditSumme__c, Hauptimmobilie__r.Repayment_Beginning__c, Hauptimmobilie__c, Gesamtkosten__c, Eigenkapital__c, ErsterKaeufer__c, ZweiterKaeufer__c, Name, (SELECT Id, Name, Apartment__c, Apartment__r.Name, Immobilie__c, Immobilie__r.Name FROM Berechnungs_Apartments__r ORDER BY Name ASC), (SELECT Id, Name, Art__c, Kreditsumme__c, TilgungInPercent__c, ZinsInPercent__c, TilgungProMonatInEuro__c, ZinsProMonatInEuro__c FROM Finanzierungsbausteine__r) FROM Berechnung__C WHERE Id = {!recordId}</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>verkaufsraum</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Verkaufsraum__c</objectType>
    </variables>
    <variables>
        <name>ZweiterKaeuferContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
