force-app/main/default/flows/Berechnung_after_insert_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_notification_to_Maklerbetreuer</name>
        <label>Send notification to Maklerbetreuer</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Contact_values_changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML670000004CVRGA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>newCalculationNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>newCalculationNotificationContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_recipientIds</name>
        <label>Assign recipientIds</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification_to_Maklerbetreuer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_values_changed</name>
        <label>Contact values changed?</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_values_changed2</name>
            <conditionLogic>(1 AND (4 OR 5)) OR (2 AND (4 OR 6)) OR ((3 AND 4) OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eigenkapital__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ZuVersteuerndesEinkommen__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Kirchensteuer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eigenkapital__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ZuVersteuerndesEinkommen__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Kirchensteuer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contact</targetReference>
            </connector>
            <label>Contact values changed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Contact_values_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recipientIds</targetReference>
            </connector>
            <label>Is New?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <formulas>
        <name>newCalculationNotificationContent</name>
        <dataType>String</dataType>
        <expression>&apos;Es wurde eine neue Berechnung für &apos; + {!$Record.Hauptimmobilie__r.Name} + &apos; erstellt.&apos;</expression>
    </formulas>
    <formulas>
        <name>newCalculationNotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Neue Berechnung von &apos; + {!$Record.Makler__r.FirstName} + &apos; &apos; + {!$Record.Makler__r.LastName}</expression>
    </formulas>
    <interviewLabel>Berechnung after insert / update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Berechnung after insert / update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_contact</name>
        <label>Update contact</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ErsterKaeufer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChurchTax__c</field>
            <value>
                <elementReference>$Record.Kirchensteuer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equity__c</field>
            <value>
                <elementReference>$Record.Eigenkapital__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jahresbruttoeinkommen__c</field>
            <value>
                <elementReference>$Record.ZuVersteuerndesEinkommen__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <filterFormula>{!$Setup.AutomationController__c.BerechnungFlows__c}</filterFormula>
        <object>Berechnung__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
