force-app/main/default/flows/Berechnungs_Apartments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Erstellt</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Kaufpreisanpassung vorgenommen</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[BerechnungsApartment__c].Immobilie__r.Building_Share_Value__c *

IF([BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c != 0 &amp;&amp; !IsBlank([BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c),
[BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c + [BerechnungsApartment__c].PriceAdjustment__c ,
[BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_1_A1_6702078782</name>
        <dataType>Currency</dataType>
        <expression>{!myVariable_current.Immobilie__r.Building_Share_Value__c} *

IF({!myVariable_current.Apartment__r.DeviatingPurchasePrice__c} != 0 &amp;&amp; !IsBlank({!myVariable_current.Apartment__r.DeviatingPurchasePrice__c}),
{!myVariable_current.Apartment__r.DeviatingPurchasePrice__c} + {!myVariable_current.PriceAdjustment__c} ,
{!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c} )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[BerechnungsApartment__c].Apartment__r.Property__r.Manager_Cost_p_a__c / 12</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_1_A1_6577360766</name>
        <dataType>Currency</dataType>
        <expression>{!myVariable_current.Apartment__r.Property__r.Manager_Cost_p_a__c} / 12</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[BerechnungsApartment__c].Immobilie__r.Value_Of_Outdoor__c *

IF([BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c != 0 &amp;&amp; !IsBlank([BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c),
[BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c + [BerechnungsApartment__c].PriceAdjustment__c ,
[BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_1_A1_9956111361</name>
        <dataType>Currency</dataType>
        <expression>{!myVariable_current.Immobilie__r.Value_Of_Outdoor__c} *

IF({!myVariable_current.Apartment__r.DeviatingPurchasePrice__c} != 0 &amp;&amp; !IsBlank({!myVariable_current.Apartment__r.DeviatingPurchasePrice__c}),
{!myVariable_current.Apartment__r.DeviatingPurchasePrice__c} + {!myVariable_current.PriceAdjustment__c} ,
{!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c} )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[BerechnungsApartment__c].Immobilie__r.Value_Plot__c *

IF([BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c != 0 &amp;&amp; !IsBlank([BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c),
[BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c + [BerechnungsApartment__c].PriceAdjustment__c ,
[BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_1_A1_6034928484</name>
        <dataType>Currency</dataType>
        <expression>{!myVariable_current.Immobilie__r.Value_Plot__c} *

IF({!myVariable_current.Apartment__r.DeviatingPurchasePrice__c} != 0 &amp;&amp; !IsBlank({!myVariable_current.Apartment__r.DeviatingPurchasePrice__c}),
{!myVariable_current.Apartment__r.DeviatingPurchasePrice__c} + {!myVariable_current.PriceAdjustment__c} ,
{!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c} )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c)  * [BerechnungsApartment__c].Apartment__r.Property__r.Value_Plot__c *[BerechnungsApartment__c].Apartment__r.Outdoor_AFA__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_15_A1_3374506511</name>
        <dataType>Currency</dataType>
        <expression>({!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c})  * {!myVariable_current.Apartment__r.Property__r.Value_Plot__c} *{!myVariable_current.Apartment__r.Outdoor_AFA__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c) * [BerechnungsApartment__c].Apartment__r.Property__r.Building_Share_Value__c * [BerechnungsApartment__c].Apartment__r.Net_Asset_Value_AFA__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_15_A1_2761916831</name>
        <dataType>Currency</dataType>
        <expression>({!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c}) * {!myVariable_current.Apartment__r.Property__r.Building_Share_Value__c} * {!myVariable_current.Apartment__r.Net_Asset_Value_AFA__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c) * [BerechnungsApartment__c].Immobilie__r.Building_Share_Value__c *
[BerechnungsApartment__c].Immobilie__r.Afa_Building_Shares__c
+
([BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c) * [BerechnungsApartment__c].Apartment__r.Property__r.Value_Plot__c *
[BerechnungsApartment__c].Immobilie__r.Afa_Plot__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myRule_15_A1_1852690971</name>
        <dataType>Currency</dataType>
        <expression>({!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c}) * {!myVariable_current.Immobilie__r.Building_Share_Value__c} *
{!myVariable_current.Immobilie__r.Afa_Building_Shares__c}
+
({!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c}) * {!myVariable_current.Apartment__r.Property__r.Value_Plot__c} *
{!myVariable_current.Immobilie__r.Afa_Plot__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[BerechnungsApartment__c].Immobilie__r.Building_Share_Value__c *

IF([BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c != 0 &amp;&amp; !IsBlank([BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c),
[BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c + [BerechnungsApartment__c].PriceAdjustment__c ,
[BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_15_A1_7025346912</name>
        <dataType>Currency</dataType>
        <expression>{!myVariable_current.Immobilie__r.Building_Share_Value__c} *

IF({!myVariable_current.Apartment__r.DeviatingPurchasePrice__c} != 0 &amp;&amp; !IsBlank({!myVariable_current.Apartment__r.DeviatingPurchasePrice__c}),
{!myVariable_current.Apartment__r.DeviatingPurchasePrice__c} + {!myVariable_current.PriceAdjustment__c} ,
{!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c} )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[BerechnungsApartment__c].Immobilie__r.Value_Of_Outdoor__c *

IF([BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c != 0 &amp;&amp; !IsBlank([BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c),
[BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c + [BerechnungsApartment__c].PriceAdjustment__c ,
[BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_15_A1_7895187124</name>
        <dataType>Currency</dataType>
        <expression>{!myVariable_current.Immobilie__r.Value_Of_Outdoor__c} *

IF({!myVariable_current.Apartment__r.DeviatingPurchasePrice__c} != 0 &amp;&amp; !IsBlank({!myVariable_current.Apartment__r.DeviatingPurchasePrice__c}),
{!myVariable_current.Apartment__r.DeviatingPurchasePrice__c} + {!myVariable_current.PriceAdjustment__c} ,
{!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c} )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[BerechnungsApartment__c].Immobilie__r.Value_Plot__c *

IF([BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c != 0 &amp;&amp; !IsBlank([BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c),
[BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c + [BerechnungsApartment__c].PriceAdjustment__c ,
[BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_21_myRule_15_A1_3683883772</name>
        <dataType>Currency</dataType>
        <expression>{!myVariable_current.Immobilie__r.Value_Plot__c} *

IF({!myVariable_current.Apartment__r.DeviatingPurchasePrice__c} != 0 &amp;&amp; !IsBlank({!myVariable_current.Apartment__r.DeviatingPurchasePrice__c}),
{!myVariable_current.Apartment__r.DeviatingPurchasePrice__c} + {!myVariable_current.PriceAdjustment__c} ,
{!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c} )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c)  * [BerechnungsApartment__c].Apartment__r.Property__r.Value_Plot__c *[BerechnungsApartment__c].Apartment__r.Outdoor_AFA__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_5316933274</name>
        <dataType>Currency</dataType>
        <expression>({!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c})  * {!myVariable_current.Apartment__r.Property__r.Value_Plot__c} *{!myVariable_current.Apartment__r.Outdoor_AFA__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c) * [BerechnungsApartment__c].Apartment__r.Property__r.Building_Share_Value__c * [BerechnungsApartment__c].Apartment__r.Net_Asset_Value_AFA__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_1829601345</name>
        <dataType>Currency</dataType>
        <expression>({!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c}) * {!myVariable_current.Apartment__r.Property__r.Building_Share_Value__c} * {!myVariable_current.Apartment__r.Net_Asset_Value_AFA__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c) * [BerechnungsApartment__c].Immobilie__r.Building_Share_Value__c *
[BerechnungsApartment__c].Immobilie__r.Afa_Building_Shares__c
+
([BerechnungsApartment__c].Apartment__r.Purchase_Price__c + [BerechnungsApartment__c].PriceAdjustment__c) * [BerechnungsApartment__c].Apartment__r.Property__r.Value_Plot__c *
[BerechnungsApartment__c].Immobilie__r.Afa_Plot__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_7667831896</name>
        <dataType>Currency</dataType>
        <expression>({!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c}) * {!myVariable_current.Immobilie__r.Building_Share_Value__c} *
{!myVariable_current.Immobilie__r.Afa_Building_Shares__c}
+
({!myVariable_current.Apartment__r.Purchase_Price__c} + {!myVariable_current.PriceAdjustment__c}) * {!myVariable_current.Apartment__r.Property__r.Value_Plot__c} *
{!myVariable_current.Immobilie__r.Afa_Plot__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[BerechnungsApartment__c].Apartment__r.Property__r.Real_Estate_Transfer_Tax__c * 10000</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_1172525848</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Apartment__r.Property__r.Real_Estate_Transfer_Tax__c} * 10000</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[BerechnungsApartment__c].Apartment__r.Property__r.maintenance_sqm_p_a__c * [BerechnungsApartment__c].Apartment__r.Area_sq_m__c / 12</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_6003854832</name>
        <dataType>Currency</dataType>
        <expression>{!myVariable_current.Apartment__r.Property__r.maintenance_sqm_p_a__c} * {!myVariable_current.Apartment__r.Area_sq_m__c} / 12</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF( [BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c != 0 &amp;&amp; !IsBlank([BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c), [BerechnungsApartment__c].Apartment__r.DeviatingPurchasePrice__c, [BerechnungsApartment__c].Apartment__r.Purchase_Price__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_5829576110</name>
        <dataType>Currency</dataType>
        <expression>IF( {!myVariable_current.Apartment__r.DeviatingPurchasePrice__c} != 0 &amp;&amp; !IsBlank({!myVariable_current.Apartment__r.DeviatingPurchasePrice__c}), {!myVariable_current.Apartment__r.DeviatingPurchasePrice__c}, {!myVariable_current.Apartment__r.Purchase_Price__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[BerechnungsApartment__c].Apartment__r.Monthly_Rent__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A1_7560880345</name>
        <dataType>Currency</dataType>
        <expression>{!myVariable_current.Apartment__r.Monthly_Rent__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[BerechnungsApartment__c].Immobilie__r.Name + &apos; - &apos; + [BerechnungsApartment__c].Apartment__r.Name </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_1_A1_0339462923</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Immobilie__r.Name} + &apos; - &apos; + {!myVariable_current.Apartment__r.Name}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IsNew()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([BerechnungsApartment__c].PriceAdjustment__c) &amp;&amp; NOT(ISNEW()) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.PriceAdjustment__c}) &amp;&amp; NOT(ISNEW())</expression>
    </formulas>
    <interviewLabel>Berechnungs_Apartments-8_InterviewLabel</interviewLabel>
    <label>Berechnungs-Apartments</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>BerechnungsApartment__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BerechnungsApartment__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Werte updaten</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AfA Außenanlagen pro Jahr in Euro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>AfAAussenanlagenProJahrInEuro__c</field>
            <value>
                <elementReference>formula_16_myRule_15_A1_3374506511</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AfA Substanz pro Jahr in Euro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>AfASubstanzProJahrInEuro__c</field>
            <value>
                <elementReference>formula_17_myRule_15_A1_2761916831</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AfA pro Jahr in Euro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>AfaProJahrInEuro__c</field>
            <value>
                <elementReference>formula_18_myRule_15_A1_1852690971</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Substanzwert in Euro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>SubstanzwertInEuro__c</field>
            <value>
                <elementReference>formula_19_myRule_15_A1_7025346912</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Wert Außenanlagen in Euro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>WertAussenanlagenInEuro__c</field>
            <value>
                <elementReference>formula_20_myRule_15_A1_7895187124</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Wert Grundstück in Euro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>WertGrundstueckInEuro__c</field>
            <value>
                <elementReference>formula_21_myRule_15_A1_3683883772</elementReference>
            </value>
        </inputAssignments>
        <object>BerechnungsApartment__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BerechnungsApartment__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Werte eintragen</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AfA Außenanlagen pro Jahr in Euro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>AfAAussenanlagenProJahrInEuro__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_5316933274</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AfA Außenanlagen pro Jahr in Prozent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>AfAAussenanlagenProJahrInProzent__c</field>
            <value>
                <elementReference>myVariable_current.Apartment__r.Outdoor_AFA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AfA Substanz pro Jahr in Euro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>AfASubstanzProJahrInEuro__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_1829601345</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AfA Substanz pro Jahr in Prozent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>AfASubstanzProJahrInProzent__c</field>
            <value>
                <elementReference>myVariable_current.Apartment__r.Net_Asset_Value_AFA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AfA pro Jahr in Euro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>AfaProJahrInEuro__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_7667831896</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Erbbauzins pro Monat in Euro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ErbbauzinsProMonatInEuro__c</field>
            <value>
                <elementReference>myVariable_current.Apartment__r.Erbbauzins__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Fläche in qm</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>FlaecheInQm__c</field>
            <value>
                <elementReference>myVariable_current.Apartment__r.Area_sq_m__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Grunderwerbsteuer in %</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>GrunderwerbsteuerInPercent__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_1172525848</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Instandhaltung pro Monat in Eur</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>InstandhaltungProMonatInEuro__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_6003854832</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Listenpreis</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Listenpreis__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_5829576110</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Miete pro Monat in Eur</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>MieteProMonatInEuro__c</field>
            <value>
                <elementReference>formula_8_myRule_1_A1_7560880345</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Berechnungs-Apartment Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>formula_9_myRule_1_A1_0339462923</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Notar- und Gerichtskosten in %</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>NotarUndGerichtskostenInPercent__c</field>
            <value>
                <elementReference>myVariable_current.Apartment__r.Property__r.Notary_And_Court_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Substanzwert in Euro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>SubstanzwertInEuro__c</field>
            <value>
                <elementReference>formula_10_myRule_1_A1_6702078782</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Verwaltung pro Monat in Eur</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>VerwaltungProMonatInEuro__c</field>
            <value>
                <elementReference>formula_11_myRule_1_A1_6577360766</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Wert Außenanlagen in Euro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>WertAussenanlagenInEuro__c</field>
            <value>
                <elementReference>formula_12_myRule_1_A1_9956111361</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Wert Grundstück in Euro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>WertGrundstueckInEuro__c</field>
            <value>
                <elementReference>formula_13_myRule_1_A1_6034928484</elementReference>
            </value>
        </inputAssignments>
        <object>BerechnungsApartment__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BerechnungsApartment__c].Berechnung</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Berechnung updaten</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Berechnung__c</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Hauptimmobilie</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Property__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Hauptimmobilie__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Hauptimmobilie</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Property__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Hauptimmobilie__c</field>
            <value>
                <elementReference>myVariable_current.Immobilie__c</elementReference>
            </value>
        </inputAssignments>
        <object>Berechnung__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BerechnungsApartment__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BerechnungsApartment__c</objectType>
    </variables>
</Flow>
