force-app/main/default/flows/Contact_After_Insert_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Kundenapp_Einladung_senden</name>
        <label>Kundenapp Einladung senden</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <actionName>Contact.Kundenapp_Einladung</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>VP_Einladung_senden3</name>
        <label>VP Einladung senden</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <actionName>Contact.VP_Einladung</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_customer_app_invitation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>VP_Passwort_zur_cksetzen_E_Mail_senden3</name>
        <label>VP Passwort zurücksetzen E-Mail senden</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Contact.VP_Passwort_zur_cksetzen</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>VP_Einladung_senden</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Send_customer_app_invitation</name>
        <label>Send customer app invitation?</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Send_customer_app_invitation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KundenappEinladungSenden__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Aktivierungscode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Kundenapp_Einladung_senden</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Outcome 1 of Send customer app invitation?</label>
        </rules>
    </decisions>
    <decisions>
        <name>VP_Einladung_senden</name>
        <label>VP Einladung senden?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Send_customer_app_invitation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>VP_Einladung_senden2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EinladungZumVPSenden__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VP_Einladung_senden3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>VP Einladung senden?</label>
        </rules>
    </decisions>
    <decisions>
        <name>VP_Passwort_zur_cksetzen_E_Mail_senden</name>
        <label>VP Passwort zurücksetzen E-Mail senden</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>VP_Einladung_senden</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>VP_Passwort_zur_cksetzen_E_Mail_senden2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VPPasswortVergessenEmailSenden__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VP_Passwort_zur_cksetzen_E_Mail_senden3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>VP Passwort zurücksetzen E-Mail senden</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact - Before Insert - Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - After Insert - Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VP_Passwort_zur_cksetzen_E_Mail_senden</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
