force-app/main/default/flows/Create_Datev_Accounting_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>File_zu_Attachment_kopieren</name>
        <label>File zu Attachment kopieren</label>
        <locationX>182</locationX>
        <locationY>1286</locationY>
        <actionName>CreateAttachmentsFromFiles</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isStorno</name>
            <value>
                <elementReference>IsStorno</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>AccountingDocumentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Create</name>
        <label>Set Create</label>
        <locationX>534</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>CreateContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ContentDocumentLinks.ContentDocument.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ContentDocumentLinks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_createContentDocumentId</name>
        <label>Set createContentDocumentId</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>CreateContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ContentDocumentLinks.ContentDocument.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ContentDocumentLinks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Sales_Invoice</name>
        <label>Is Sales Invoice?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Create_Datev_Accounting_Document_Purchase_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Sales_Invoice2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSalesInvoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Datev_Accounting_Document_Sales_Invoice</targetReference>
            </connector>
            <label>Is Sales Invoice?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Storno</name>
        <label>Is Storno?</label>
        <locationX>534</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Loop_ContentDocumentLinks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Is_Storno2</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsStorno</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_ContentDocumentLinks.ContentDocument.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Storno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_ContentDocumentLinks.ContentDocument.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_createContentDocumentId</targetReference>
            </connector>
            <label>Is Storno?</label>
        </rules>
        <rules>
            <name>Is_Storno_false</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsStorno</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_ContentDocumentLinks.ContentDocument.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Rechnung</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_ContentDocumentLinks.ContentDocument.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gutschrift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Create</targetReference>
            </connector>
            <label>Is Storno = false</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountingDocumentId</name>
        <dataType>String</dataType>
        <expression>IF({!IsSalesInvoice}, {!Create_Datev_Accounting_Document_Sales_Invoice}, {!Create_Datev_Accounting_Document_Purchase_Invoice})</expression>
    </formulas>
    <formulas>
        <name>accountNo</name>
        <dataType>String</dataType>
        <expression>IF({!IsSalesInvoice}, &apos;159350&apos;, {!accountNoImmobilie})</expression>
    </formulas>
    <formulas>
        <name>buNumber</name>
        <dataType>String</dataType>
        <expression>IF(!{!IsSalesInvoice} &amp;&amp; NOT(Begins({!accountNoImmobilie}, &apos;1510&apos;)) &amp;&amp; {!MwstSatz} = 19, &apos;9&apos;, null)</expression>
    </formulas>
    <formulas>
        <name>ClientId</name>
        <dataType>String</dataType>
        <expression>&apos;618558-&apos;+{!MandantenNummer}</expression>
    </formulas>
    <formulas>
        <name>CostNumber</name>
        <dataType>String</dataType>
        <expression>RPAD({!ImmobilienNummer}, 5, &apos;0&apos; )</expression>
    </formulas>
    <formulas>
        <name>costOne</name>
        <dataType>String</dataType>
        <expression>IF(!{!IsSalesInvoice}, &apos;9999&apos;, null)</expression>
    </formulas>
    <formulas>
        <name>RecordTypeIdAccountingDocument</name>
        <dataType>String</dataType>
        <expression>IF({!IsSalesInvoice}, &apos;0126700000110AfAAI&apos;, &apos;0126700000110AeAAI&apos;)</expression>
    </formulas>
    <formulas>
        <name>RecordTypeIdAccountingDocumentItem</name>
        <dataType>String</dataType>
        <expression>IF({!IsSalesInvoice}, &apos;0126700000110AcAAI&apos;, &apos;0126700000110AbAAI&apos;)</expression>
    </formulas>
    <interviewLabel>Create Datev Accounting Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Datev Accounting Document</label>
    <loops>
        <name>Loop_ContentDocumentLinks</name>
        <label>Loop ContentDocumentLinks</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <collectionReference>Get_Content_Document_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Storno</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>File_zu_Attachment_kopieren</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Datev_Accounting_Document_Item</name>
        <label>Create Datev Accounting Document Item</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Get_Content_Document_Links</targetReference>
        </connector>
        <inputAssignments>
            <field>DATEV1__AccountNo__c</field>
            <value>
                <elementReference>accountNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__AccountingDocument__c</field>
            <value>
                <elementReference>AccountingDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__Amount__c</field>
            <value>
                <elementReference>RechnungsBetrag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__BookingText__c</field>
            <value>
                <elementReference>Belegtext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__BpAccountNo__c</field>
            <value>
                <elementReference>DebitorennummerKunde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__BuCode__c</field>
            <value>
                <elementReference>buNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__CostCategoryId2__c</field>
            <value>
                <elementReference>CostNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__CostCategoryId__c</field>
            <value>
                <elementReference>costOne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIdAccountingDocumentItem</elementReference>
            </value>
        </inputAssignments>
        <object>DATEV1__AccountingDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Datev_Accounting_Document_Purchase_Invoice</name>
        <label>Create Datev Accounting Document Purchase Invoice</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Create_Datev_Accounting_Document_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>DATEV1__ClientId__c</field>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__DocumentDate__c</field>
            <value>
                <elementReference>RechnungsDatum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__InvoiceId__c</field>
            <value>
                <elementReference>RechnungsNummer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__PartyId__c</field>
            <value>
                <elementReference>DebitorennummerKunde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__SupplierName__c</field>
            <value>
                <elementReference>NameKunde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIdAccountingDocument</elementReference>
            </value>
        </inputAssignments>
        <object>DATEV1__AccountingDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Datev_Accounting_Document_Sales_Invoice</name>
        <label>Create Datev Accounting Document Sales Invoice</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Create_Datev_Accounting_Document_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>DATEV1__ClientId__c</field>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__CustomerName__c</field>
            <value>
                <elementReference>NameKunde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__DocumentDate__c</field>
            <value>
                <elementReference>RechnungsDatum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__InvoiceId__c</field>
            <value>
                <elementReference>RechnungsNummer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATEV1__PartyId__c</field>
            <value>
                <elementReference>DebitorennummerKunde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIdAccountingDocument</elementReference>
            </value>
        </inputAssignments>
        <object>DATEV1__AccountingDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Document_Links</name>
        <label>Get Content Document Links</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ContentDocumentLinks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Sales_Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountNoImmobilie</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Attachments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>Belegtext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>ContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLinkIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DebitorennummerKunde</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImmobilienNummer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSalesInvoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsStorno</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MandantenNummer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MwstSatz</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NameKunde</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RechnungsBetrag</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RechnungsDatum</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RechnungsNummer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
