force-app/main/default/flows/Digitale_VSA_Eingabe.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_digitale_VSA_to_record</name>
        <label>Assign digitale VSA to record</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>digitaleVsa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Digitale_VSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ersterKaeuferId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Finanzierungsanfrage.ErsterKaeufer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>zweiterKaeuferId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Finanzierungsanfrage.ZweiterKaeufer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Erster_Kaeufer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ErsterKaeufer_to_record_variable</name>
        <label>Assign ErsterKaeufer to record variable</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ersterKaeufer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Erster_Kaeufer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Zweiter_K_ufer_Id_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VSA_Daten</name>
        <label>Assign VSA Daten</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>digitaleVsa.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Digitale_VSA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.KaltmieteWohnungP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Kaltmiete_WohnungErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.BankUndSparguthabenP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_und_SparguthabenErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.WertpapiereDepotsP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wertpapiere_DepotsErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.Finanzierungsanfrage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.NettLohnGehaltP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Netto_Lohn_GehaltErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.UrlaubsgeldP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UrlaubsgeldErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.WeihnachtsgeldP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WeihnachtsgeldErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.SonderzahlungenP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SonderzahlungenErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.KindergeldP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KindergeldErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.UnterhaltseinkuenfteP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unterhaltseink_nfteErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.RentePensionP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rente_PensionErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.NebeneinkommenP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NebeneinkommenErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.SpesenueberschussP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Spesen_berschuErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.WohngeldP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WohngeldErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.MieteinnahmenP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MieteinnahmenErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.WohnnebenkostenP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WohnnebenkostenErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.KfzLeasingrateP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Kfz_LeasingrateErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.KleinkreditratenP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KleinkreditratenErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.RateFuerBaufinanzierungP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rate_f_r_BaufinanzierungErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.PraemieLebensversicherungenP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pr_mie_LebensversicherungenErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.SparbeitraegeBausparvertraegeP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sparbeitr_ge_Bausparvertr_geErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.PraemiePrivateKrankenversicherungP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pr_mie_private_KrankenversicherungErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.UnterhaltsverpflichtungenP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnterhaltsverpflichtungenErsterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ersterKaeufer.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StrasseErsterKaeuferInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ersterKaeufer.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrtErsterKaeuferInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ersterKaeufer.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PLZErsterKaeuferInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_VSA_Daten_Zweiter_Kaeufer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VSA_Daten_Zweiter_Kaeufer</name>
        <label>Assign VSA Daten Zweiter Kaeufer</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>digitaleVsa.BankUndSparguthabenP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_und_SparguthabenZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.KaltmieteWohnungP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Kaltmiete_WohnungZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.WertpapiereDepotsP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wertpapiere_DepotsZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.NettLohnGehaltP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Netto_Lohn_GehaltZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.UrlaubsgeldP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UrlaubsgeldZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.WeihnachtsgeldP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WeihnachtsgeldZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.SonderzahlungenP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SonderzahlungenZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.KindergeldP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KindergeldZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.SonderzahlungenP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SonderzahlungenZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.KindergeldP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KindergeldZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.UnterhaltseinkuenfteP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unterhaltseink_nfteZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.RentePensionP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rente_PensionZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.NebeneinkommenP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NebeneinkommenZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.SpesenueberschussP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Spesen_berschuZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.WohngeldP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WohngeldZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.MieteinnahmenP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MieteinnahmenZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.WohnnebenkostenP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WohnnebenkostenZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.KfzLeasingrateP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Kfz_LeasingrateZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.KleinkreditratenP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KleinkreditratenZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.RateFuerBaufinanzierungP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rate_f_r_BaufinanzierungZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.PraemieLebensversicherungenP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pr_mie_LebensversicherungenZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.SparbeitraegeBausparvertraegeP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sparbeitr_ge_Bausparvertr_geZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.PraemiePrivateKrankenversicherungP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pr_mie_private_KrankenversicherungZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>digitaleVsa.UnterhaltsverpflichtungenP2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnterhaltsverpflichtungenZweiterKaeufer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>zweiterKaeufer.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StrasseZweiterKaeuferInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>zweiterKaeufer.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrtZweiterKaeuferInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>zweiterKaeufer.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PLZZweiterKaeuferInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ErsterKaeufer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Zweiter_K_ufer</name>
        <label>Assign Zweiter Käufer</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>zweiterKaeufer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zweiter_Kaeufer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VSA_Daten_Erster_K_ufer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Digitale_VSA_null</name>
        <label>Digitale VSA null?</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Update_digitale_VSA_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Digitale_VSA_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Digitale_VSA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Digitale_VSA</targetReference>
            </connector>
            <label>Digitale VSA null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zweiter_K_ufer_Id_not_null</name>
        <label>Zweiter Käufer Id not null?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>VSA_Daten_Erster_K_ufer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zweiter_K_ufer_Id_not_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>zweiterKaeuferIdNotBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Zweiter_Kaeufer</targetReference>
            </connector>
            <label>Zweiter Käufer Id not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zweiter_K_ufer_not_null</name>
        <label>Zweiter Käufer not null?</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Assign_VSA_Daten</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zweiter_K_ufer_not_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>zweiterKaeuferIdNotBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VSA_Daten_Zweiter_K_ufer</targetReference>
            </connector>
            <label>Zweiter Käufer not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zweiter_K_ufer_not_null3</name>
        <label>Zweiter Käufer not null?</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Digitale_VSA_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zweiter_K_ufer_not_null4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>zweiterKaeuferIdNotBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Zweiter_K_ufer</targetReference>
            </connector>
            <label>Zweiter Käufer not null?</label>
        </rules>
    </decisions>
    <formulas>
        <name>zweiterKaeuferIdNotBlank</name>
        <dataType>Boolean</dataType>
        <expression>!IsBlank({!zweiterKaeuferId})</expression>
    </formulas>
    <interviewLabel>Digitale VSA Eingabe {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Digitale VSA Eingabe</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Digitale_VSA</name>
        <label>Create Digitale VSA</label>
        <locationX>50</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Immobilien</targetReference>
        </connector>
        <inputReference>digitaleVsa</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Digitale_VSA</name>
        <label>Get Digitale VSA</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_digitale_VSA_to_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Finanzierungsanfrage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DigitaleVsa__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Erster_Kaeufer</name>
        <label>Get Erster Kaeufer</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ErsterKaeufer_to_record_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ersterKaeuferId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Finanzierungsanfrage</name>
        <label>Get Finanzierungsanfrage</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Digitale_VSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Finanzierungsanfrage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Zweiter_Kaeufer</name>
        <label>Get Zweiter Kaeufer</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Zweiter_K_ufer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>zweiterKaeuferId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_digitale_VSA_0</name>
        <label>Update digitale VSA</label>
        <locationX>314</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Immobilien</targetReference>
        </connector>
        <inputReference>digitaleVsa</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ErsterKaeufer</name>
        <label>Update ErsterKaeufer</label>
        <locationX>182</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Zweiter_K_ufer_not_null3</targetReference>
        </connector>
        <inputReference>ersterKaeufer</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Zweiter_K_ufer</name>
        <label>Update Zweiter Käufer</label>
        <locationX>50</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Digitale_VSA_null</targetReference>
        </connector>
        <inputReference>zweiterKaeufer</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Immobilien</name>
        <label>Immobilien</label>
        <locationX>182</locationX>
        <locationY>2702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verm_genswerte</targetReference>
        </connector>
        <fields>
            <name>vsaImmobilien</name>
            <extensionName>c:createMultipleRecords</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>VSAImmobilie__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>digitaleVsa.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectLabel</name>
                <value>
                    <stringValue>Vermögenswert: Immobilie</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Name,Art__c,PostleitzahlOrtDerImmobilie__cVerkehrswert__c,MonatlicheNettokaltmiete__c,Kreditgeber__c,MonatlicheRate__c,Restschuld__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verbindlichkeiten</name>
        <label>Verbindlichkeiten</label>
        <locationX>182</locationX>
        <locationY>2942</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>vsaVerbindlichkeiten</name>
            <extensionName>c:createMultipleRecords</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>VsaVerbindlichkeit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>digitaleVsa.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectLabel</name>
                <value>
                    <stringValue>Verbindlichkeit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Name,Art__c,Kreditgeber__c,UrspruenglicherDarlehensbetrag__c,TilgungBis__c,ZinsbindungBis__c,MonatlicheRate__c,AktuelleRestschuld__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verm_genswerte</name>
        <label>Vermögenswerte</label>
        <locationX>182</locationX>
        <locationY>2822</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verbindlichkeiten</targetReference>
        </connector>
        <fields>
            <name>vsaVermoegenswerte</name>
            <extensionName>c:createMultipleRecords</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>VsaVermoegenswert__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>digitaleVsa.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectLabel</name>
                <value>
                    <stringValue>Vermögenswert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Name,Art__c,Gesellschaft__c,Vertragssumme__c,Sparbeginn__c,MonatlicheZahlung__c,AktuellesGuthaben__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VSA_Daten_Erster_K_ufer</name>
        <label>VSA Daten Erster Käufer</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Zweiter_K_ufer_not_null</targetReference>
        </connector>
        <fields>
            <name>HeaderVSADatenErsterKaeufer</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;VSA Daten Erster Käufer&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VSA_Daten_Erster_K_ufer_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VSA_Daten_Erster_K_ufer_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KontaktinformationenErsterKaeufer</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Kontaktinformationen Erster Käufer&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Birthdate</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Geburtsort__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Familienstand__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Gueterstand__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Geburtsname__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Kind1NameUndGeburtsdatum__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Kind2NameUndGeburtsdatum__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Kind3NameUndGeburtsdatum__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Kind4NameUndGeburtsdatum__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Kind5NameUndGeburtsdatum__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Nationalitaet__c</objectFieldReference>
                </fields>
                <fields>
                    <name>StrasseErsterKaeuferInput</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ersterKaeufer.MailingStreet</elementReference>
                    </defaultValue>
                    <fieldText>Straße</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PLZErsterKaeuferInput</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ersterKaeufer.MailingPostalCode</elementReference>
                    </defaultValue>
                    <fieldText>PLZ</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>OrtErsterKaeuferInput</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ersterKaeufer.MailingCity</elementReference>
                    </defaultValue>
                    <fieldText>Ort</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.WohnhaftSeit__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.HomePhone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.MobilePhone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Email</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Steuer_ID__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VSA_Daten_Erster_K_ufer_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VSA_Daten_Erster_K_ufer_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ArbeitgeberErsterKaeufer</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Arbeitgeber Erster Käufer&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Berufsart__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Beruf__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.BerufIstBefristet__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.BerufIstBefristetBis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.ProbezeitBis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.ArbeitgeberInOrt__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.ArbeitgeberSeit__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.Nebenjob__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.NebenjobArbeitgeberInOrt__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ersterKaeufer.NebenjobSeit__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VSA_Daten_Erster_K_ufer_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VSA_Daten_Erster_K_ufer_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MonatlicheNettoEinnahmenErsterKaeufer</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Monatliche Netto-Einnahmen Erster Käufer&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Netto_Lohn_GehaltErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.NettLohnGehaltP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Netto Lohn / Gehalt</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>UrlaubsgeldErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.UrlaubsgeldP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Urlaubsgeld</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>WeihnachtsgeldErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.WeihnachtsgeldP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Weihnachtsgeld</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>SonderzahlungenErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.SonderzahlungenP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Sonderzahlungen</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>KindergeldErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.KindergeldP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Kindergeld</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Unterhaltseink_nfteErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.UnterhaltseinkuenfteP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Unterhaltseinkünfte</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Rente_PensionErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.RentePensionP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Rente / Pension</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>NebeneinkommenErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.NebeneinkommenP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Nebeneinkommen</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Spesen_berschuErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.SpesenueberschussP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Spesenüberschuß</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>WohngeldErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.WohngeldP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Wohngeld</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>MieteinnahmenErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.MieteinnahmenP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Mieteinnahmen</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VSA_Daten_Erster_K_ufer_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VSA_Daten_Erster_K_ufer_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MonatlicheAusgabenErsterKaeufer</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Monatliche Ausgaben Erster Käufer&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Kaltmiete_WohnungErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.KaltmieteWohnungP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Kaltmiete Wohnung</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>WohnnebenkostenErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.WohnnebenkostenP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Wohnnebenkosten</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Kfz_LeasingrateErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.KfzLeasingrateP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Kfz Leasingrate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>KleinkreditratenErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.KleinkreditratenP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Kleinkreditraten</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Rate_f_r_BaufinanzierungErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.RateFuerBaufinanzierungP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Rate für Baufinanzierung</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Pr_mie_LebensversicherungenErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.PraemieLebensversicherungenP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Prämie Lebensversicherungen</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Pr_mie_private_KrankenversicherungErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.PraemiePrivateKrankenversicherungP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Prämie private Krankenversicherung</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Sparbeitr_ge_Bausparvertr_geErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.SparbeitraegeBausparvertraegeP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Sparbeiträge Bausparverträge</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>UnterhaltsverpflichtungenErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.UnterhaltsverpflichtungenP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Unterhaltsverpflichtungen</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VSA_Daten_Erster_K_ufer_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VSA_Daten_Erster_K_ufer_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VermoegenswerteErsterKaeufer</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Vermögenswerte&lt;/b&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; Erster Käufer&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Bank_und_SparguthabenErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.BankUndSparguthabenP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Bank- und Sparguthaben</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Wertpapiere_DepotsErsterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.WertpapiereDepotsP1__c</elementReference>
                    </defaultValue>
                    <fieldText>Wertpapiere / Depots</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VSA_Daten_Zweiter_K_ufer</name>
        <label>VSA Daten Zweiter Käufer</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_VSA_Daten</targetReference>
        </connector>
        <fields>
            <name>HeaderVSADatenZweiterKaeufer</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;VSA Daten Zweiter Käufer&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VSA_Daten_Zweiter_K_ufer_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VSA_Daten_Zweiter_K_ufer_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KontaktinformationenZweiterKaeufer</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Kontaktinformationen Zweiter Käufer&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Birthdate</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Geburtsort__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Familienstand__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Gueterstand__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Geburtsname__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Kind1NameUndGeburtsdatum__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Kind2NameUndGeburtsdatum__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Kind3NameUndGeburtsdatum__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Kind4NameUndGeburtsdatum__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Kind5NameUndGeburtsdatum__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Nationalitaet__c</objectFieldReference>
                </fields>
                <fields>
                    <name>StrasseZweiterKaeuferInput</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>zweiterKaeufer.MailingStreet</elementReference>
                    </defaultValue>
                    <fieldText>Straße</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PLZZweiterKaeuferInput</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>zweiterKaeufer.MailingPostalCode</elementReference>
                    </defaultValue>
                    <fieldText>PLZ</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>OrtZweiterKaeuferInput</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>zweiterKaeufer.MailingCity</elementReference>
                    </defaultValue>
                    <fieldText>Ort</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.WohnhaftSeit__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.HomePhone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.MobilePhone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Email</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Steuer_ID__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VSA_Daten_Zweiter_K_ufer_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VSA_Daten_Zweiter_K_ufer_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ArbeitgeberZweiterKaeufer</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Arbeitgeber Zweiter Käufer&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Berufsart__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Beruf__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.BerufIstBefristet__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.BerufIstBefristetBis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.ProbezeitBis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.ArbeitgeberInOrt__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.ArbeitgeberSeit__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.Nebenjob__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.NebenjobArbeitgeberInOrt__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>zweiterKaeufer.NebenjobSeit__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VSA_Daten_Zweiter_K_ufer_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VSA_Daten_Zweiter_K_ufer_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MonatlicheNettoEinnahmenErsterKaeufer_0</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Monatliche Netto-Einnahmen Zweiter Käufer&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Netto_Lohn_GehaltZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.NettLohnGehaltP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Netto Lohn / Gehalt</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>UrlaubsgeldZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.UrlaubsgeldP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Urlaubsgeld</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>WeihnachtsgeldZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.WeihnachtsgeldP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Weihnachtsgeld</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>SonderzahlungenZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.SonderzahlungenP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Sonderzahlungen</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>KindergeldZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.KindergeldP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Kindergeld</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Unterhaltseink_nfteZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.UnterhaltseinkuenfteP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Unterhaltseinkünfte</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Rente_PensionZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.RentePensionP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Rente / Pension</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>NebeneinkommenZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.NebeneinkommenP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Nebeneinkommen</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Spesen_berschuZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.SpesenueberschussP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Spesenüberschuß</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>WohngeldZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.WohngeldP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Wohngeld</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>MieteinnahmenZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.MieteinnahmenP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Mieteinnahmen</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VSA_Daten_Zweiter_K_ufer_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VSA_Daten_Zweiter_K_ufer_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MonatlicheAusgabenErsterKaeufer_0</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Monatliche Ausgaben Zweiter Käufer&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Kaltmiete_WohnungZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.KaltmieteWohnungP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Kaltmiete Wohnung</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>WohnnebenkostenZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.WohnnebenkostenP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Wohnnebenkosten</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Kfz_LeasingrateZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.KfzLeasingrateP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Kfz Leasingrate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>KleinkreditratenZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.KleinkreditratenP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Kleinkreditraten</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Rate_f_r_BaufinanzierungZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.RateFuerBaufinanzierungP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Rate für Baufinanzierung</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Pr_mie_LebensversicherungenZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.PraemieLebensversicherungenP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Prämie Lebensversicherungen</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Pr_mie_private_KrankenversicherungZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.PraemiePrivateKrankenversicherungP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Prämie private Krankenversicherung</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Sparbeitr_ge_Bausparvertr_geZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.SparbeitraegeBausparvertraegeP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Sparbeiträge Bausparverträge</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>UnterhaltsverpflichtungenZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.UnterhaltsverpflichtungenP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Unterhaltsverpflichtungen</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VSA_Daten_Zweiter_K_ufer_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VSA_Daten_Zweiter_K_ufer_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VermoegenswerteZweiterKaeufer</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Vermögenswerte&lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; Zweiter Käufer&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Bank_und_SparguthabenZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.BankUndSparguthabenP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Bank- und Sparguthaben</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Wertpapiere_DepotsZweiterKaeufer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Digitale_VSA.WertpapiereDepotsP2__c</elementReference>
                    </defaultValue>
                    <fieldText>Wertpapiere / Depots</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Finanzierungsanfrage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>digitaleVsa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DigitaleVsa__c</objectType>
    </variables>
    <variables>
        <name>ersterKaeufer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ersterKaeuferId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finanzierungsanfrage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Finanzierungsanfrage__c</objectType>
    </variables>
    <variables>
        <name>finanzierungsanfrageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zweiterKaeufer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>zweiterKaeuferId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
