force-app/main/default/flows/Finanzierungsanfrage_aus_Kontakt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Zum_Datensatz</name>
        <label>Zum Datensatz</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Finanzierungsanfrage__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Finanzierungsanfrage_erstellen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>Frau</name>
        <choiceText>Frau</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Frau</stringValue>
        </value>
    </choices>
    <choices>
        <name>Herr</name>
        <choiceText>Herr</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Herr</stringValue>
        </value>
    </choices>
    <choices>
        <name>Keine_Sondertilgungsoption</name>
        <choiceText>Keine Sondertilgungsoption</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>KfW_Darlehen_261</name>
        <choiceText>KfW-Darlehen (261)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>KfW_Darlehen_461</name>
        <choiceText>KfW-Darlehen (461)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sondertilgungsoption</name>
        <choiceText>Sondertilgungsoption</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>Berechnungen1</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Verkaufsraum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Berechnung__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BerechnungsApartments</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Berechnung__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Berechnungen1</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApartmentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <object>BerechnungsApartment__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>KfwWunschChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KfwWunsch__c</picklistField>
        <picklistObject>Finanzierungsanfrage__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SondertilgungChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sondertilgung__c</picklistField>
        <picklistObject>Finanzierungsanfrage__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DateIn1Year</name>
        <dataType>Date</dataType>
        <expression>TODAY()+365</expression>
    </formulas>
    <interviewLabel>Finanzierungsanfrage aus Kontakt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finanzierungsanfrage aus Kontakt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Finanzierungsanfrage_erstellen</name>
        <label>Finanzierungsanfrage erstellen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>FileUploadScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>EinzusetzendesEigenkapital__c</field>
            <value>
                <elementReference>EigenkapitalInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ErsterKaeufer__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finanzierungsbedarf__c</field>
            <value>
                <elementReference>FinanzierungsbedarfInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KfwWunsch__c</field>
            <value>
                <stringValue>Kein KfW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LaufzeitInJahren__c</field>
            <value>
                <elementReference>Gew_nschte_Finanzierungslaufzeit_in_JahrenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MonatlicheRate__c</field>
            <value>
                <elementReference>Monatlicher_EigenaufwandInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variante__c</field>
            <value>
                <stringValue>Blanko</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZweiterKaeufer__c</field>
            <value>
                <elementReference>ZweiterKaeufer.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Finanzierungsanfrage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Kontakt</name>
        <label>Kontakt</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Neue_Finanzierungsanfrage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Upload files directly to Finanzierungsanfrage.</description>
        <name>FileUploadScreen</name>
        <label>Screen File Upload</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Digitale_VSA_Eingabe</targetReference>
        </connector>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileUpload.label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Finanzierungsanfrage_erstellen</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Neue_Finanzierungsanfrage</name>
        <label>Neue Finanzierungsanfrage</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finanzierungsanfrage_erstellen</targetReference>
        </connector>
        <fields>
            <name>AllgemeineInformationenHelpText</name>
            <fieldText>&lt;p&gt;Geben Sie die benötigten Daten ein und drücken Sie auf &quot;weiter&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ZweiterKaeufer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ErsterKaeufer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Verkaufsraum__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Zweiter Käufer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FinanzierungsbedarfInput</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Finanzierungsbedarf</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>EigenkapitalInput</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Eigenkapital</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Gew_nschte_Finanzierungslaufzeit_in_JahrenInput</name>
            <dataType>Number</dataType>
            <fieldText>Gewünschte Finanzierungslaufzeit in Jahren</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Monatlicher_EigenaufwandInput</name>
            <dataType>Currency</dataType>
            <fieldText>Monatlicher Eigenaufwand</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>KfW_WunschInput</name>
            <choiceReferences>KfwWunschChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>KfW-Wunsch (falls vorhanden)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.CurrentDate</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Zum_Datensatz</targetReference>
        </connector>
        <fields>
            <name>SucessMessage</name>
            <fieldText>&lt;p&gt;Die Finanzierungsanfrage wurde erfolgreich erstellt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Kontakt</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Digitale_VSA_Eingabe</name>
        <label>Digitale VSA Eingabe</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowName>Digitale_VSA_Eingabe</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Finanzierungsanfrage_erstellen</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>OppIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
