force-app/main/default/flows/Finanzierungsanfrage_Keine_Phasen_nderung_seit_x_Tagen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>E_Mail_an_Head_Of_Finanzierung_senden</name>
        <label>E-Mail an Head Of Finanzierung senden</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Erinnerungs_E_Mail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Die folgende Finanzierungsanfrage ist seit längerem ohne Phasen-Änderung und braucht deine Aufmerksamkeit:&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Phasenstatus: {!$Record.PhasendauerInTagen__c}&lt;/p&gt;&lt;p&gt;Name: {!$Record.Name}&lt;/p&gt;&lt;p&gt;Immobilie: {!$Record.Opportunity__r.Immobilie__r.Name}&lt;/p&gt;&lt;p&gt;Apartment: {!$Record.Opportunity__r.Appartement__r.Name}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!recordLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link&lt;/a&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Finanzierungsanfrage &apos; + {!$Record.PhasendauerInTagen__c}</expression>
    </formulas>
    <formulas>
        <name>nowPlusThreeDays</name>
        <dataType>DateTime</dataType>
        <expression>Now()+3</expression>
    </formulas>
    <formulas>
        <name>recordLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260)) + &apos;/lightning/r/Finanzierungsanfrage__c/&apos;+{!$Record.Id}+&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Finanzierungsanfrage: Keine Phasenänderung seit x Tagen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finanzierungsanfrage: Keine Phasenänderung seit x Tagen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Erinnerungs_E_Mail</name>
        <label>Update Erinnerungs-E-Mail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>NaechsteErinnerungsEmailAm__c</field>
            <value>
                <elementReference>nowPlusThreeDays</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finanzierungsanfrage gestellt</stringValue>
            </value>
        </filters>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VSA vorhanden</stringValue>
            </value>
        </filters>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rückfragen gestellt</stringValue>
            </value>
        </filters>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unterlagen angefordert</stringValue>
            </value>
        </filters>
        <object>Finanzierungsanfrage__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_minute_after_N_chste_Erinnerungs_E_Mail_am</name>
            <connector>
                <targetReference>E_Mail_an_Head_Of_Finanzierung_senden</targetReference>
            </connector>
            <label>1 minute after &quot;Nächste Erinnerungs-E-Mail am&quot;</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>NaechsteErinnerungsEmailAm__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
