force-app/main/default/flows/Finanzierungsanfrage_aus_Verkaufschance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Zum_Datensatz</name>
        <label>Zum Datensatz</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Finanzierungsanfrage__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Finanzierungsanfrage_erstellen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>EK_EK_Input</name>
        <label>EK = EK Input</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>eigenkapital</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EigenkapitalInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finanzierungsanfrage_erstellen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EK_Nebenkosten3</name>
        <label>EK = Nebenkosten</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>eigenkapital</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nebenkosten</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finanzierungsanfrage_erstellen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Frau</name>
        <choiceText>Frau</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Frau</stringValue>
        </value>
    </choices>
    <choices>
        <name>Herr</name>
        <choiceText>Herr</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Herr</stringValue>
        </value>
    </choices>
    <choices>
        <name>Keine_Sondertilgungsoption</name>
        <choiceText>Keine Sondertilgungsoption</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>KfW_Darlehen_261</name>
        <choiceText>KfW-Darlehen (261)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>KfW_Darlehen_461</name>
        <choiceText>KfW-Darlehen (461)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sondertilgungsoption</name>
        <choiceText>Sondertilgungsoption</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>EK_Nebenkosten</name>
        <label>EK = Nebenkosten?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>EK_EK_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>EK_Nebenkosten2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Eigenkapital_Nebenkosten</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EK_Nebenkosten3</targetReference>
            </connector>
            <label>EK = Nebenkosten?</label>
        </rules>
    </decisions>
    <decisions>
        <name>False</name>
        <label>False</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>false2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Digitale_VSA_Eingabe</targetReference>
            </connector>
            <label>false</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Berechnungen1</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Verkaufsraum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Berechnung__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BerechnungsApartments</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Berechnung__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Berechnungen1</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApartmentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <object>BerechnungsApartment__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>KfwWunschChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KfwWunsch__c</picklistField>
        <picklistObject>Finanzierungsanfrage__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SondertilgungChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sondertilgung__c</picklistField>
        <picklistObject>Finanzierungsanfrage__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DateIn1Year</name>
        <dataType>Date</dataType>
        <expression>TODAY()+365</expression>
    </formulas>
    <formulas>
        <name>finanzierungsbedarf</name>
        <dataType>Number</dataType>
        <expression>{!Gesamtkosten} - {!eigenkapital}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Gesamtkosten</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!Verkaufschance.Appartement__r.Purchase_Price__c} + {!Verkaufschance.Appartement__r.Notary_And_Court_Costs_1_5__c} + {!Verkaufschance.Appartement__r.Real_Estate_Transfer_Tax__c}, 2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>nebenkosten</name>
        <dataType>Number</dataType>
        <expression>{!Gesamtkosten}-{!Verkaufschance.Kaufpreis__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Finanzierungsanfrage aus Verkaufschance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finanzierungsanfrage aus Verkaufschance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Finanzierungsanfrage_Apartment_erstellen</name>
        <label>Finanzierungsanfrage Apartment erstellen</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>False</targetReference>
        </connector>
        <inputAssignments>
            <field>Apartment__c</field>
            <value>
                <elementReference>Verkaufschance.Appartement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finanzierungsanfrage__c</field>
            <value>
                <elementReference>Finanzierungsanfrage_erstellen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Immobilie__c</field>
            <value>
                <elementReference>Verkaufschance.Immobilie__c</elementReference>
            </value>
        </inputAssignments>
        <object>FinanzierungsanfrageApartment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Finanzierungsanfrage_erstellen</name>
        <label>Finanzierungsanfrage erstellen</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>ScreenFileUpload</targetReference>
        </connector>
        <inputAssignments>
            <field>EinzusetzendesEigenkapital__c</field>
            <value>
                <elementReference>eigenkapital</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ErsterKaeufer__c</field>
            <value>
                <elementReference>Verkaufschance.Potenzieller_Kunde__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finanzierungsbedarf__c</field>
            <value>
                <elementReference>finanzierungsbedarf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KfwWunsch__c</field>
            <value>
                <elementReference>KfW_WunschInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LaufzeitInJahren__c</field>
            <value>
                <elementReference>Gew_nschte_Finanzierungslaufzeit_in_JahrenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Verkaufschance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Finanzierungsanfrage gestellt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variante__c</field>
            <value>
                <stringValue>Verkaufschance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZweiterKaeufer__c</field>
            <value>
                <elementReference>Verkaufschance.Kunde2__c</elementReference>
            </value>
        </inputAssignments>
        <object>Finanzierungsanfrage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Verkaufschance</name>
        <label>Verkaufschance</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Neue_Finanzierungsanfrage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Neue_Finanzierungsanfrage</name>
        <label>Neue Finanzierungsanfrage</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EK_Nebenkosten</targetReference>
        </connector>
        <fields>
            <name>AllgemeineInformationenHelpText</name>
            <fieldText>&lt;p&gt;Geben Sie die benötigten Daten ein und drücken Sie auf &quot;weiter&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eigenkapital_Nebenkosten</name>
            <dataType>Boolean</dataType>
            <fieldText>Eigenkapital = Nebenkosten</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EigenkapitalInput</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Eigenkapital</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Eigenkapital_Nebenkosten</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Gew_nschte_Finanzierungslaufzeit_in_JahrenInput</name>
            <dataType>Number</dataType>
            <fieldText>Gewünschte Finanzierungslaufzeit in Jahren</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>KfW_WunschInput</name>
            <choiceReferences>KfwWunschChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>KfW-Wunsch (falls vorhanden)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenFileUpload</name>
        <label>Screen File Upload</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finanzierungsanfrage_Apartment_erstellen</targetReference>
        </connector>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileUpload.label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Finanzierungsanfrage_erstellen</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Zum_Datensatz</targetReference>
        </connector>
        <fields>
            <name>SucessMessage</name>
            <fieldText>&lt;p&gt;Die Finanzierungsanfrage wurde erfolgreich erstellt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verkaufschance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Digitale_VSA_Eingabe</name>
        <label>Digitale VSA Eingabe</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowName>Digitale_VSA_Eingabe</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Finanzierungsanfrage_erstellen</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>eigenkapital</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OppIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
