force-app/main/default/flows/Finanzierungsanfrage_Before_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_values</name>
        <label>Assign values</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Automation_Switch</name>
        <label>Automation Switch</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automation_Switch2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Neu</targetReference>
            </connector>
            <label>Automation Switch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Neu</name>
        <label>Neu?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Neu2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values</targetReference>
            </connector>
            <label>Neu?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>recordName</name>
        <dataType>String</dataType>
        <expression>{!$Record.ErsterKaeufer__r.LastName} + &apos;, &apos; + {!$Record.ErsterKaeufer__r.FirstName} + IF(!IsBlank({!$Record.Opportunity__c}), &apos; - &apos; + {!$Record.Opportunity__r.Immobilie__r.Name} + IF(!IsBlank({!$Record.Opportunity__r.Appartement__c}), &apos; - &apos; +{!$Record.Opportunity__r.Appartement__r.Name}, &apos;&apos;), &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Finanzierungsanfrage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finanzierungsanfrage - Before Insert/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automation_Switch</targetReference>
        </connector>
        <object>Finanzierungsanfrage__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
