force-app/main/default/flows/Finanzierungsanfrage_aus_Verkaufsraum.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>BerechnungsApartmentIds</name>
        <label>BerechnungsApartmentIds</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_BerechnungsApartmentIds</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Apartments</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Zum_Datensatz</name>
        <label>Zum Datensatz</label>
        <locationX>176</locationX>
        <locationY>2054</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Finanzierungsanfrage__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Finanzierungsanfrage_erstellen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>Frau</name>
        <choiceText>Frau</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Frau</stringValue>
        </value>
    </choices>
    <choices>
        <name>Herr</name>
        <choiceText>Herr</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Herr</stringValue>
        </value>
    </choices>
    <choices>
        <name>Keine_Sondertilgungsoption</name>
        <choiceText>Keine Sondertilgungsoption</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>KfW_Darlehen_261</name>
        <choiceText>KfW-Darlehen (261)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>KfW_Darlehen_461</name>
        <choiceText>KfW-Darlehen (461)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sondertilgungsoption</name>
        <choiceText>Sondertilgungsoption</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>Berechnungen1</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Verkaufsraum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Berechnung__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BerechnungsApartments</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Berechnung__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Berechnungen1</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApartmentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <object>BerechnungsApartment__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>KfwWunschChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KfwWunsch__c</picklistField>
        <picklistObject>Finanzierungsanfrage__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SondertilgungChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sondertilgung__c</picklistField>
        <picklistObject>Finanzierungsanfrage__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DateIn1Year</name>
        <dataType>Date</dataType>
        <expression>TODAY()+365</expression>
    </formulas>
    <formulas>
        <name>Finanzierungsbedarf</name>
        <dataType>Currency</dataType>
        <expression>{!Berechnungen.Gesamtkosten__c} - {!Berechnungen.Eigenkapital__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Finanzierungsanfrage aus Verkaufsraum {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finanzierungsanfrage aus Verkaufsraum</label>
    <loops>
        <name>Loop_BerechnungsApartmentIds</name>
        <label>Loop BerechnungsApartmentIds</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <collectionReference>BerechnungsApartmentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Berechnungs_Apartment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Digitale_VSA_Eingabe</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Finanzierungsanfrage_Apartments_erstellen</name>
        <label>Finanzierungsanfrage Apartments erstellen</label>
        <locationX>264</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Loop_BerechnungsApartmentIds</targetReference>
        </connector>
        <inputAssignments>
            <field>Apartment__c</field>
            <value>
                <elementReference>Berechnungs_Apartment.Apartment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finanzierungsanfrage__c</field>
            <value>
                <elementReference>Finanzierungsanfrage_erstellen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Immobilie__c</field>
            <value>
                <elementReference>Berechnungs_Apartment.Immobilie__c</elementReference>
            </value>
        </inputAssignments>
        <object>FinanzierungsanfrageApartment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Finanzierungsanfrage_erstellen</name>
        <label>Finanzierungsanfrage erstellen</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>ScreenFileUpload</targetReference>
        </connector>
        <inputAssignments>
            <field>EinzusetzendesEigenkapital__c</field>
            <value>
                <elementReference>EigenkapitalInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ErsterKaeufer__c</field>
            <value>
                <elementReference>Verkaufsraum.ErsterKaeufer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finanzierungsbedarf__c</field>
            <value>
                <elementReference>FinanzierungsbedarfInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KfwWunsch__c</field>
            <value>
                <stringValue>Kein KfW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LaufzeitInJahren__c</field>
            <value>
                <elementReference>Gew_nschte_Finanzierungslaufzeit_in_JahrenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MonatlicheRate__c</field>
            <value>
                <elementReference>Monatlicher_EigenaufwandInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variante__c</field>
            <value>
                <stringValue>Verkaufsraum</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verkaufsraum__c</field>
            <value>
                <elementReference>Verkaufsraum.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZweiterKaeufer__c</field>
            <value>
                <elementReference>Verkaufsraum.ZweiterKaeufer__c</elementReference>
            </value>
        </inputAssignments>
        <object>Finanzierungsanfrage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Berechnungen</name>
        <label>Berechnungen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Neue_Finanzierungsanfrage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Verkaufsraum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Berechnung__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Berechnungs_Apartment</name>
        <label>Berechnungs-Apartment</label>
        <locationX>264</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Finanzierungsanfrage_Apartments_erstellen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_BerechnungsApartmentIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BerechnungsApartment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ErsterKaeufer</name>
        <label>ErsterKaeufer</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ZweiterKaeufer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Verkaufsraum.ErsterKaeufer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Verkaufsraum</name>
        <label>Verkaufsraum</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ErsterKaeufer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Verkaufsraum__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ZweiterKaeufer</name>
        <label>ZweiterKaeufer</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Berechnungen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Verkaufsraum.ZweiterKaeufer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Apartmentauswahl</name>
        <label>Apartmentauswahl</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finanzierungsanfrage_erstellen</targetReference>
        </connector>
        <fields>
            <name>ApartmentHelpText</name>
            <fieldText>&lt;p&gt;Wählen Sie die Apartments aus, für die Sie eine Finanzierungsanfrage machen möchten und klicken Sie auf &quot;Weiter&quot;. Es werden nur verfügbare Apartments angezeigt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Apartments</name>
            <choiceReferences>BerechnungsApartments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Apartments auswählen</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Berechnung_ausw_hlen</name>
        <label>Berechnung auswählen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Apartmentauswahl</targetReference>
        </connector>
        <fields>
            <name>Help</name>
            <fieldText>&lt;p&gt;Wählen Sie die Berechnung aus und klicken Sie auf &quot;Weiter&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WhichBerechnung</name>
            <choiceReferences>Berechnungen1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Berechnung auswählen</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Neue_Finanzierungsanfrage</name>
        <label>Neue Finanzierungsanfrage</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Berechnung_ausw_hlen</targetReference>
        </connector>
        <fields>
            <name>AllgemeineInformationenHelpText</name>
            <fieldText>&lt;p&gt;Geben Sie die benötigten Daten ein und drücken Sie auf &quot;weiter&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinanzierungsbedarfInput</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Berechnungen.Gesamtkosten__c</elementReference>
            </defaultValue>
            <fieldText>Finanzierungsbedarf</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>EigenkapitalInput</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Berechnungen.Eigenkapital__c</elementReference>
            </defaultValue>
            <fieldText>Eigenkapital</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Gew_nschte_Finanzierungslaufzeit_in_JahrenInput</name>
            <dataType>Number</dataType>
            <fieldText>Gewünschte Finanzierungslaufzeit in Jahren</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Monatlicher_EigenaufwandInput</name>
            <dataType>Currency</dataType>
            <fieldText>Monatlicher Eigenaufwand</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>KfW_WunschInput</name>
            <choiceReferences>KfwWunschChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>KfW-Wunsch (falls vorhanden)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.CurrentDate</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenFileUpload</name>
        <label>Screen File Upload</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BerechnungsApartmentIds</targetReference>
        </connector>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileUpload.label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Finanzierungsanfrage_erstellen</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>1934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Zum_Datensatz</targetReference>
        </connector>
        <fields>
            <name>SucessMessage</name>
            <fieldText>&lt;p&gt;Die Finanzierungsanfrage wurde erfolgreich erstellt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verkaufsraum</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Digitale_VSA_Eingabe</name>
        <label>Digitale VSA Eingabe</label>
        <locationX>176</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowName>Digitale_VSA_Eingabe</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Finanzierungsanfrage_erstellen</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>OppIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
