force-app/main/default/flows/Gutschrift_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Gutschrift_oder_Storno_wurde_generiert</name>
        <label>Gutschrift oder Storno wurde generiert?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gutschrift_oder_Storno_wurde_generiert2</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GutschriftWurdeGeneriert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StornoWurdeGeneriert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.GutschriftWurdeGeneriert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StornoWurdeGeneriert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Accounting_Documents</targetReference>
            </connector>
            <label>Gutschrift oder Storno wurde generiert?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>belegtext</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Objekt__r.Name} + &apos; WE &apos; + {!$Record.Teilobjekt__r.ApartmentNummer__c} + &apos; &apos; + {!$Record.Kunde__r.LastName}, 60)</expression>
    </formulas>
    <formulas>
        <name>IsStorno</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.StornoWurdeGeneriert__c}</expression>
    </formulas>
    <formulas>
        <name>nameKunde</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Empfaenger__r.Account.Unternehmensname__c}, 50)</expression>
    </formulas>
    <formulas>
        <name>RechnungsbetragDatev</name>
        <dataType>Currency</dataType>
        <expression>IF({!IsStorno}, 
IF({!$Record.MarketingzuschussNichtAusweisen__c}, -{!$Record.ProvisionssummeOhneMZInklUSt__c}, -{!$Record.ProvisionssummeInklUSt__c}),
IF({!$Record.MarketingzuschussNichtAusweisen__c}, {!$Record.ProvisionssummeOhneMZInklUSt__c}, {!$Record.ProvisionssummeInklUSt__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RechnungsdatumDatev</name>
        <dataType>Date</dataType>
        <expression>IF({!IsStorno}, {!$Record.DatumGutschriftStorniert__c},{!$Record.DatumGutschriftBestaetigt__c})</expression>
    </formulas>
    <formulas>
        <name>RechnungsnummerDatev</name>
        <dataType>String</dataType>
        <expression>IF({!IsStorno},{!$Record.StornoLaufnummer__c},{!$Record.Name})</expression>
    </formulas>
    <interviewLabel>Gutschrift After Insert/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gutschrift After Insert/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Gutschrift_oder_Storno_wurde_generiert</targetReference>
        </connector>
        <filterFormula>{!$Setup.AutomationController__c.GutschriftFlows__c}</filterFormula>
        <object>Gutschrift__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Accounting_Documents</name>
        <label>Generate Accounting Documents</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>Create_Datev_Accounting_Document</flowName>
        <inputAssignments>
            <name>accountNoImmobilie</name>
            <value>
                <elementReference>$Record.Provision__r.Objekt__r.GutschriftenSachkonto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Belegtext</name>
            <value>
                <elementReference>belegtext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DebitorennummerKunde</name>
            <value>
                <elementReference>$Record.Empfaenger__r.Account.DatevKreditorennummer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ImmobilienNummer</name>
            <value>
                <elementReference>$Record.Objekt__r.Objektnummer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsSalesInvoice</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsStorno</name>
            <value>
                <elementReference>IsStorno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MandantenNummer</name>
            <value>
                <stringValue>33486</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MwstSatz</name>
            <value>
                <elementReference>$Record.Gesetzliche_MwSt_auf_Provisionszahlung__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NameKunde</name>
            <value>
                <elementReference>nameKunde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RechnungsBetrag</name>
            <value>
                <elementReference>RechnungsbetragDatev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RechnungsDatum</name>
            <value>
                <elementReference>RechnungsdatumDatev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RechnungsNummer</name>
            <value>
                <elementReference>RechnungsnummerDatev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
