force-app/main/default/flows/MaBV_Rechnung_Master_Create_Update_After_FieldUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <decisions>
        <description>Prüft zuerst, ob es sich um einen neuen Datensatz handelt und danach, ob es eine Anpassung vom Feld &apos;PreisanpassungInEuro&apos; oder &apos;PreisanpassungInPercent&apos; gegeben hat und gleichzeitig wird sichergestellt, dass der Wert nicht leer ist.</description>
        <name>dec_Aenderung</name>
        <label>dec_Aenderung</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>dec_Aenderung_Nein</defaultConnectorLabel>
        <rules>
            <name>dec_Aenderung_Neu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>for_IstNeu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateMaBVRechnungMaster_neu</targetReference>
            </connector>
            <label>dec_Aenderung_Neu</label>
        </rules>
        <rules>
            <name>dec_AenderungEUR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreisanpassungInEuro__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreisanpassungInEuro__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateMaBVRechnungMaster_Prozent</targetReference>
            </connector>
            <label>dec_Aenderung_EUR</label>
        </rules>
        <rules>
            <name>dec_Aenderung_Prozent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PreisanpassungInPercent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreisanpassungInPercent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateMaBVRechnungMaster_EUR</targetReference>
            </connector>
            <label>dec_Aenderung_Prozent</label>
        </rules>
    </decisions>
    <description>Prüft verschiedene Werte innerhalb der Preisanpassungsfelder. Bei der Erstellung werden diese initial befüllt, bei Änderungen von Währung oder Prozent wird der entsprechende Gegenwert von Währung oder Prozent neu berechnet und aktualisiert</description>
    <environments>Default</environments>
    <formulas>
        <description>Überprüfung mit der Funktion &apos;ISNEW()&apos;, ob der aktuelle Datensatz neu ist oder ein Update.</description>
        <name>for_IstNeu</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Berechnet den neuen EUR-Wert, wenn der %-Wert verändert wurde.</description>
        <name>for_PreisanpassungEUR</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.PreisanpassungInPercent__c} * {!$Record.RateInEur__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Berechnet den neuen Prozentwert, wenn der EUR-Wert verändert wurde.</description>
        <name>for_PreisanpassungPercent</name>
        <dataType>Number</dataType>
        <expression>{!$Record.PreisanpassungInEuro__c} / {!$Record.RateInEur__c} * 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>MaBV Rechnung Master - Create/Update - After - FieldUpdates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MaBV Rechnung Master - Create/Update - After - FieldUpdates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Aktualisiert das Feld &apos;Preisanpassung in EUR&apos; auf Basis des neuen %-Wertes.</description>
        <name>updateMaBVRechnungMaster_EUR</name>
        <label>updateMaBVRechnungMaster_EUR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PreisanpassungInEuro__c</field>
            <value>
                <elementReference>for_PreisanpassungEUR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Aktualisiert die Preisanpassungs-Felder mit Informationen aus dem Objekt &apos;MaBV-Rate&apos;.</description>
        <name>updateMaBVRechnungMaster_neu</name>
        <label>updateMaBVRechnungMaster_neu</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PreisanpassungInEuro__c</field>
            <value>
                <elementReference>$Record.MaBVRate__r.PreisanpassungInEuro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreisanpassungInPercent__c</field>
            <value>
                <elementReference>$Record.MaBVRate__r.PreisanpassungInPercent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreisanpassungText__c</field>
            <value>
                <elementReference>$Record.MaBVRate__r.PreisanpassungText__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Aktualisiert das Feld &apos;Preisanpassung in %&apos; auf Basis des neuen EUR-Wertes.</description>
        <name>updateMaBVRechnungMaster_Prozent</name>
        <label>updateMaBVRechnungMaster_Prozent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PreisanpassungInPercent__c</field>
            <value>
                <elementReference>for_PreisanpassungPercent</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_Aenderung</targetReference>
        </connector>
        <object>MaBVRechnungMaster__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
