force-app/main/default/flows/MaBVRechnung_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Mahnung_zur_Genehmigung3</name>
        <label>Mahnung zur Genehmigung</label>
        <locationX>1392</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Ben_tigt_Genehmigung</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Zahlungserinnerung</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Zur_Genehmigung_senden</name>
        <label>Zur Genehmigung senden</label>
        <locationX>1392</locationX>
        <locationY>731</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Mabv_Rechnung_oder_Storno_Beleg_wurde_generiert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Genehmigung</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_fifth_invoice_to_apartment</name>
        <label>Assign fifth invoice to apartment</label>
        <locationX>1106</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>teilobjekt.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Teilobjekt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teilobjekt.FifthMabvInvoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateApartment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_apartment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_first_invoice_to_apartment</name>
        <label>Assign first invoice to apartment</label>
        <locationX>50</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>teilobjekt.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Teilobjekt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teilobjekt.FirstMabvInvoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateApartment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_apartment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_fourth_invoice_to_apartment</name>
        <label>Assign fourth invoice to apartment</label>
        <locationX>842</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>teilobjekt.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Teilobjekt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teilobjekt.FourthMabvInvoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateApartment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_apartment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_second_invoice_to_apartment</name>
        <label>Assign second invoice to apartment</label>
        <locationX>314</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>teilobjekt.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Teilobjekt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teilobjekt.SecondMabvInvoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateApartment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_apartment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_seventh_invoice_to_apartment</name>
        <label>Assign seventh invoice to apartment</label>
        <locationX>1634</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>teilobjekt.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Teilobjekt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teilobjekt.SeventhMabvInvoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateApartment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_apartment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sixth_invoice_to_apartment</name>
        <label>Assign sixth invoice to apartment</label>
        <locationX>1370</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>teilobjekt.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Teilobjekt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teilobjekt.SixthMabvInvoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateApartment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_apartment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_third_invoice_to_apartment</name>
        <label>Assign third invoice to apartment</label>
        <locationX>578</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>teilobjekt.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Teilobjekt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teilobjekt.ThirdMabvInvoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateApartment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_apartment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ben_tigt_Genehmigung</name>
        <label>Benötigt Genehmigung?</label>
        <locationX>1524</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Mabv_Rechnung_oder_Storno_Beleg_wurde_generiert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Ben_tigt_Genehmigung2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BenoetigtGenehmigung__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Genehmigt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zur_Genehmigung_senden</targetReference>
            </connector>
            <label>Benötigt Genehmigung?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mabv_Rechnung_oder_Storno_Beleg_wurde_generiert</name>
        <label>Mabv Rechnung oder Storno Beleg wurde generiert?</label>
        <locationX>1524</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Seventh_invoice_paid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mabv_Rechnung_oder_Storno_Beleg_wurde_generiert1</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4) OR (1 AND 5) OR (2 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RechnungWurdeGeneriert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StornoWurdeGeneriert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RechnungWurdeGeneriert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StornoWurdeGeneriert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Accounting_Documents</targetReference>
            </connector>
            <label>Mabv Rechnung oder Storno Beleg wurde generiert?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mahnung_zur_Genehmigung</name>
        <label>Mahnung zur Genehmigung?</label>
        <locationX>1524</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Ben_tigt_Genehmigung</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mahnung_zur_Genehmigung2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MahnungZurGenehmigungSenden__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mahnung_zur_Genehmigung3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Mahnung zur Genehmigung?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_canceled</name>
        <label>Not canceled?</label>
        <locationX>1524</locationX>
        <locationY>1523</locationY>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Not_canceled2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Storniert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RechnungWurdeGeneriert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_rate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Not canceled?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Seventh_invoice_paid</name>
        <label>Seventh invoice paid?</label>
        <locationX>1524</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Not_canceled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Seventh_invoice_paid2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IstBezahlt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RateNummer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opportunity</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Seventh invoice paid?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_apartment</name>
        <label>Update apartment?</label>
        <locationX>974</locationX>
        <locationY>1931</locationY>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Update_apartment2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateApartment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_apartment3</targetReference>
            </connector>
            <label>Update apartment?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_rate</name>
        <label>Which rate?</label>
        <locationX>974</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Update_apartment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>X1_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RateNummer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_first_invoice_to_apartment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>1. Rate</label>
        </rules>
        <rules>
            <name>X2_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RateNummer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_second_invoice_to_apartment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>2. Rate</label>
        </rules>
        <rules>
            <name>X3_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RateNummer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_third_invoice_to_apartment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>3. Rate</label>
        </rules>
        <rules>
            <name>X4_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RateNummer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_fourth_invoice_to_apartment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>4. Rate</label>
        </rules>
        <rules>
            <name>X5_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RateNummer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_fifth_invoice_to_apartment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>5. Rate</label>
        </rules>
        <rules>
            <name>X6_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RateNummer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_sixth_invoice_to_apartment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>6. Rate</label>
        </rules>
        <rules>
            <name>X7_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RateNummer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_seventh_invoice_to_apartment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>7. Rate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Belegtext</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Immobilie__c} + &apos;/&apos; + TEXT({!$Record.MaBVRechnungMaster__r.MaBVRate__r.RateNummer__c}) + &apos;. Rate/&apos; + &apos;WE &apos; + RIGHT({!$Record.MaBVRechnungMaster__r.Opportunity__r.Appartement__r.Name}, 3) + &apos; &apos; + {!$Record.MaBVRechnungMaster__r.Opportunity__r.Potenzieller_Kunde__r.LastName}, 60)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <formulas>
        <name>IsStorno</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Storniert__c}</expression>
    </formulas>
    <formulas>
        <name>Mandantennummer</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.Datev_Mandantennummer__c})</expression>
    </formulas>
    <formulas>
        <name>NameKunde</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.MaBVRechnungMaster__r.Opportunity__r.Potenzieller_Kunde__r.FirstName} + &apos; &apos; + {!$Record.MaBVRechnungMaster__r.Opportunity__r.Potenzieller_Kunde__r.LastName}, 50)</expression>
    </formulas>
    <formulas>
        <name>RechnungsbetragDatev</name>
        <dataType>Currency</dataType>
        <expression>IF({!IsStorno}, -{!$Record.RateGesamtInEuro__c},{!$Record.RateGesamtInEuro__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RechnungsdatumDatev</name>
        <dataType>Date</dataType>
        <expression>IF({!IsStorno}, {!$Record.DatumStorniert__c}, {!$Record.Rechnungsdatum__c})</expression>
    </formulas>
    <formulas>
        <name>RechnungsnummerDatev</name>
        <dataType>String</dataType>
        <expression>IF({!IsStorno}, {!$Record.StornoLaufnummer__c}, {!$Record.Name})</expression>
    </formulas>
    <interviewLabel>MaBVRechnung After Insert/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MaBVRechnung After Insert/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_apartment3</name>
        <label>Update apartment</label>
        <locationX>842</locationX>
        <locationY>2039</locationY>
        <inputReference>teilobjekt</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opportunity</name>
        <label>Update opportunity</label>
        <locationX>1392</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Not_canceled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Datum_Kaufpreis_bezahlt__c</field>
            <value>
                <elementReference>$Record.Zahldatum__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kaufpreis_bezahlt__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1398</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mahnung_zur_Genehmigung</targetReference>
        </connector>
        <object>MaBVRechnung__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Accounting_Documents</name>
        <label>Generate Accounting Documents</label>
        <locationX>1392</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Seventh_invoice_paid</targetReference>
        </connector>
        <flowName>Create_Datev_Accounting_Document</flowName>
        <inputAssignments>
            <name>Belegtext</name>
            <value>
                <elementReference>Belegtext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DebitorennummerKunde</name>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.Potenzieller_Kunde__r.DatevDebitorenKundennummerKaeufer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ImmobilienNummer</name>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Objektnummer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsStorno</name>
            <value>
                <elementReference>IsStorno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MandantenNummer</name>
            <value>
                <elementReference>Mandantennummer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NameKunde</name>
            <value>
                <elementReference>NameKunde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RechnungsBetrag</name>
            <value>
                <elementReference>RechnungsbetragDatev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RechnungsDatum</name>
            <value>
                <elementReference>RechnungsdatumDatev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RechnungsNummer</name>
            <value>
                <elementReference>RechnungsnummerDatev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>bezahltHasChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isNewAsync</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teilobjekt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appartment__c</objectType>
    </variables>
    <variables>
        <name>updateApartment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
