force-app/main/default/flows/MaBV_Rechnung_before_insert_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Zinsrecord</name>
        <label>Assign Zinsrecord</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.VerzugszinsDatensatz__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Verzugszinsen.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mahnung_Approval_Started</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Mahnung_generieren</name>
        <label>Clear Mahnung generieren</label>
        <locationX>50</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.MahnungGenerieren__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mahnung_approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_data</name>
        <label>Fill data</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.AmtsgerichtUnternehmen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.Amtsgericht_bei_Kapitalgesellschaften__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AnredeErsterKaeufer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salutationFirstBuyer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AnredeGeschaeftsfuehrerUnternehmen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.GeschaeftsfuehrerNeu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AnredeZweiterKaeufer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salutationSecondBuyer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Apartment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.Appartement__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BIC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.BIC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Bank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DatumKaeuferangebotAbgegeben__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.K_uferangebot_abgegeben__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EmailUnternehmen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HRBUnternehmen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.HRB_bei_Kapitalgesellschaften__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IBAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.IBAN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IDKunde__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.Potenzieller_Kunde__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Immobilie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Kaufdatum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.Kaufdatum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Kaufpreis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.beurkundeter_Kaufpreis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Komplementaer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.Komplementaer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Leistung__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Leistung__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeistungszeitraumVon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.LeistungszeitraumVon__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeistungszeitraumBis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.LeistungszeitraumBis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Notartermin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.Notartermin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PLZErsterKaeufer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.Potenzieller_Kunde__r.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PLZUnternehmen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ParagraphKaufpreisfaelligkeit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.ParagraphKaufpreisfaelligkeit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PreisanpassungInEuro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.PreisanpassungInEuro__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PreisanpassungInPercent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.PreisanpassungInPercent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PreisanpassungText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.PreisanpassungText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RateInEuro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rateInEuro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RateInPercentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.RateInPercentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Rechnungsdatum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SicherheitPlusInEuro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sicherheitPlusInEuro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SicherheitPlusInPercentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.SicherheitPlusInPercentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SicherheitseinbehaltInEuro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sicherheitsEinbehaltInEuro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SicherheitseinbehaltInPercentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.SicherheitseinbehaltInPercentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StadtErsterKaeufer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.Potenzieller_Kunde__r.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StadtUnternehmen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SteuernummerUnternehmen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.Steuernummer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StrasseErsterKaeufer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.Potenzieller_Kunde__r.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StrasseUnternehmen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TelefaxUnternehmen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TelefonUnternehmen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UStIdNr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.UStd_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Unternehmensname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.Unternehmensname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UrkundennummerKaufvertrag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.UrkundennummerKaufvertrag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UrkundennummerKaufvertragsangebot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.UrkundennummerKaufvertragsangebot__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UrkundennummerKaufvertragsannahme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.UrkundennummerKaufvertragsannahme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WebsiteUnternehmen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Unternehmen__r.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ZahlungszielInTagen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.ZahlungszielinTagen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RateNummer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.RateNummer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Teilobjekt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.Appartement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Maklerbetreuer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaBVRechnungMaster__r.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Verzugszinsen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Dunning_Level_Reset_Approval_Trigger</name>
        <label>Increment Dunning Level &amp; Reset Approval Trigger</label>
        <locationX>50</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>$Record.Mahnstufe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newMahnstufe</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MahnungZurGenehmigungSenden__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Rechnungsnummer_eintragen</name>
        <label>Rechnungsnummer eintragen</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_in_data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fill_in_data</name>
        <label>Fill in data?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Mahnung_Approval_Started</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Fill_in_data2</name>
            <conditionLogic>1 OR (2 AND 3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MaBVRechnungMaster__r.MaBVRate__r.BenoetigtGenehmigung__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Genehmigt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Genehmigt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MahnungGenerieren__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MahnungGenerieren__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_data</targetReference>
            </connector>
            <label>Fill in data?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Fill_in_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Is_New2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rechnungsnummer_eintragen</targetReference>
            </connector>
            <label>Is New?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mahnung_Approval_Started</name>
        <label>Mahnung Approval Started?</label>
        <locationX>182</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Mahnung_approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MahnungZurGenehmigungSenden__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Mahnung_generieren</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Started</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mahnung_approved</name>
        <label>Mahnung approved?</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MahnungGenerieren__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Dunning_Level_Reset_Approval_Trigger</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Automations</name>
        <label>Run Automations?</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Run_Automations2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New</targetReference>
            </connector>
            <label>Run Automations?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>datePaymentReminderAutoApproval</name>
        <dataType>DateTime</dataType>
        <expression>IF(WEEKDAY(TODAY()+2) = 6, NOW()+4, IF(WEEKDAY(TODAY()+2) = 1, NOW()+3, NOW()+2))</expression>
    </formulas>
    <formulas>
        <name>invoiceNumber</name>
        <dataType>String</dataType>
        <expression>{!$Record.MaBVRechnungMaster__r.MaBVRate__r.Immobilie__r.Objektnummer__c} + &apos;-&apos; + RIGHT({!$Record.MaBVRechnungMaster__r.Opportunity__r.Appartement__r.Name} ,3)  + &apos;-&apos; + TEXT({!$Record.MaBVRechnungMaster__r.MaBVRate__r.RateNummer__c}) + &apos;-&apos; + TEXT({!$Record.MaBVRechnungMaster__r.AnzahlRechnungen__c} + 1)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>newMahnstufe</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Mahnstufe__c}), 1, {!$Record.Mahnstufe__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>rateInEuro</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.MaBVRechnungMaster__r.Opportunity__r.beurkundeter_Kaufpreis__c} * {!$Record.MaBVRechnungMaster__r.MaBVRate__r.RateInPercentage__c})/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>salutationFirstBuyer</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.MaBVRechnungMaster__r.Opportunity__r.Potenzieller_Kunde__r.Salutation}) + &apos; &apos; + {!$Record.MaBVRechnungMaster__r.Opportunity__r.Potenzieller_Kunde__r.FirstName} + &apos; &apos; + {!$Record.MaBVRechnungMaster__r.Opportunity__r.Potenzieller_Kunde__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>salutationSecondBuyer</name>
        <dataType>String</dataType>
        <expression>IF(!IsBlank({!$Record.MaBVRechnungMaster__r.Opportunity__r.Kunde2__c}),
TEXT({!$Record.MaBVRechnungMaster__r.Opportunity__r.Kunde2__r.Salutation}) + &apos; &apos; + {!$Record.MaBVRechnungMaster__r.Opportunity__r.Kunde2__r.FirstName} + &apos; &apos; + {!$Record.MaBVRechnungMaster__r.Opportunity__r.Kunde2__r.LastName}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>sicherheitPlusInEuro</name>
        <dataType>Currency</dataType>
        <expression>IF(Not(IsBlank({!$Record.MaBVRechnungMaster__r.MaBVRate__r.SicherheitPlusInPercentage__c})),
{!$Record.MaBVRechnungMaster__r.MaBVRate__r.SicherheitPlusInPercentage__c} * {!$Record.MaBVRechnungMaster__r.Opportunity__r.beurkundeter_Kaufpreis__c} / 100,
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>sicherheitsEinbehaltInEuro</name>
        <dataType>Currency</dataType>
        <expression>IF(Not(IsBlank({!$Record.MaBVRechnungMaster__r.MaBVRate__r.SicherheitseinbehaltInPercentage__c})), 
{!$Record.MaBVRechnungMaster__r.MaBVRate__r.SicherheitseinbehaltInPercentage__c} * {!$Record.MaBVRechnungMaster__r.Opportunity__r.beurkundeter_Kaufpreis__c} / 100,
0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>MaBV Rechnung before insert / update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MaBV Rechnung before insert / update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Verzugszinsen</name>
        <label>Get Verzugszinsen</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Zinsrecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GueltigVon__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>GueltigBis__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Verzugszins__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Automations</targetReference>
        </connector>
        <object>MaBVRechnung__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
