force-app/main/default/flows/NKZ_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Abrechnung_ber</name>
        <label>Abrechnung über?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Generate_Accounting_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Carestone_Vertriebs_GmbH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Objekt__r.GutschriftenUeber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carestone Vertriebs GmbH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Accounting_Documents_CS_Vertriebs_GmbH</targetReference>
            </connector>
            <label>Carestone Vertriebs GmbH</label>
        </rules>
    </decisions>
    <decisions>
        <name>Beleg_oder_Storno_wurde_generiert</name>
        <label>Beleg oder Storno wurde generiert?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Beleg_oder_Storno_wurde_generiert2</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BelegWurdeGeneriert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StornoWurdeGeneriert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BelegWurdeGeneriert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StornoWurdeGeneriert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Abrechnung_ber</targetReference>
            </connector>
            <label>Beleg oder Storno wurde generiert?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>belegtext</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Objekt__r.Name} + &apos; WE&apos; + {!$Record.Teilobjekt__r.ApartmentNummer__c} + &apos; &apos; + {!$Record.Kunde__r.LastName}, 60)</expression>
    </formulas>
    <formulas>
        <name>IsStorno</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.StornoWurdeGeneriert__c}</expression>
    </formulas>
    <formulas>
        <name>nameKunde</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Empfaenger__r.Account.Unternehmensname__c}, 50)</expression>
    </formulas>
    <formulas>
        <name>RechnungsbetragDatev</name>
        <dataType>Currency</dataType>
        <expression>IF({!IsStorno}, -{!$Record.BetragInklUSt__c}, {!$Record.BetragInklUSt__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RechnungsdatumDatev</name>
        <dataType>Date</dataType>
        <expression>IF({!IsStorno}, {!$Record.DatumStorniert__c}, {!$Record.DatumGenehmigungBackoffice__c})</expression>
    </formulas>
    <formulas>
        <name>RechnungsnummerDatev</name>
        <dataType>String</dataType>
        <expression>IF({!IsStorno}, {!$Record.StornoLaufnummer__c}, {!$Record.LaufnummerNew__c})</expression>
    </formulas>
    <interviewLabel>NKZ After Insert/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NKZ After Insert/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Beleg_oder_Storno_wurde_generiert</targetReference>
        </connector>
        <filterFormula>{!$Setup.AutomationController__c.NKZFlows__c}</filterFormula>
        <object>Nebenkostenzuschuss__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Accounting_Documents</name>
        <label>Generate Accounting Documents</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <flowName>Create_Datev_Accounting_Document</flowName>
        <inputAssignments>
            <name>accountNoImmobilie</name>
            <value>
                <elementReference>$Record.Objekt__r.GutschriftenSachkonto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Belegtext</name>
            <value>
                <elementReference>belegtext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DebitorennummerKunde</name>
            <value>
                <elementReference>$Record.Empfaenger__r.Account.DatevKreditorennummer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ImmobilienNummer</name>
            <value>
                <elementReference>$Record.Objekt__r.Objektnummer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsSalesInvoice</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsStorno</name>
            <value>
                <elementReference>IsStorno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MandantenNummer</name>
            <value>
                <stringValue>33486</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MwstSatz</name>
            <value>
                <numberValue>19.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NameKunde</name>
            <value>
                <elementReference>nameKunde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RechnungsBetrag</name>
            <value>
                <elementReference>RechnungsbetragDatev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RechnungsDatum</name>
            <value>
                <elementReference>RechnungsdatumDatev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RechnungsNummer</name>
            <value>
                <elementReference>RechnungsnummerDatev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Generate_Accounting_Documents_CS_Vertriebs_GmbH</name>
        <label>Generate Accounting Documents CS Vertriebs GmbH</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <flowName>Create_Datev_Accounting_Document</flowName>
        <inputAssignments>
            <name>accountNoImmobilie</name>
            <value>
                <elementReference>$Record.Objekt__r.GutschriftenSachkonto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Belegtext</name>
            <value>
                <elementReference>belegtext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DebitorennummerKunde</name>
            <value>
                <elementReference>$Record.Empfaenger__r.Account.DatevKreditorennummer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ImmobilienNummer</name>
            <value>
                <elementReference>$Record.Objekt__r.Objektnummer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsSalesInvoice</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsStorno</name>
            <value>
                <elementReference>IsStorno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MandantenNummer</name>
            <value>
                <stringValue>33487</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MwstSatz</name>
            <value>
                <numberValue>19.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NameKunde</name>
            <value>
                <elementReference>nameKunde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RechnungsBetrag</name>
            <value>
                <elementReference>RechnungsbetragDatev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RechnungsDatum</name>
            <value>
                <elementReference>RechnungsdatumDatev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RechnungsNummer</name>
            <value>
                <elementReference>RechnungsnummerDatev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
