force-app/main/default/flows/OpportunityAfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>E_Mail_an_Projektbeauftragte</name>
        <label>E-Mail an Projektbeauftragte</label>
        <locationX>336</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.VSA_EK_Hinweis_an_Projektbeauftragte</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_secondBuyer_to_roles</name>
        <label>Add secondBuyer to roles</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>opportunityContactRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>secondBuyerOpportunityContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_brokerOpportunityContactRole</name>
        <label>Assign brokerOpportunityContactRole</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>brokerOpportunityContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>brokerOpportunityContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Makler</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>brokerOpportunityContactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>brokerOpportunityContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Makler__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_firstBuyerOpportunityContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_firstBuyerOpportunityContactRole</name>
        <label>Assign firstBuyerOpportunityContactRole</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>firstBuyerOpportunityContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstBuyerOpportunityContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1. Käufer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstBuyerOpportunityContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Potenzieller_Kunde__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Second_buyer_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_secondBuyerOpportunityContactRole</name>
        <label>Assign secondBuyerOpportunityContactRole</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>secondBuyerOpportunityContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondBuyerOpportunityContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2. Käufer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondBuyerOpportunityContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Kunde2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_secondBuyer_to_roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_collection</name>
        <label>Assign values to collection</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>opportunityContactRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>brokerOpportunityContactRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityContactRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstBuyerOpportunityContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_OpportunityContactRoles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Broker_has_changed</name>
        <label>Broker has changed?</label>
        <locationX>754</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>First_buyer_has_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Broker_has_changed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Makler__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_broker_contact_role</targetReference>
            </connector>
            <label>Broker has changed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_buyer_has_changed</name>
        <label>First buyer has changed?</label>
        <locationX>754</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Second_buyer_has_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>First_buyer_has_changed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potenzieller_Kunde__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_first_buyer_contact_role</targetReference>
            </connector>
            <label>First buyer has changed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>468</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Broker_has_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Is_New2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_brokerOpportunityContactRole</targetReference>
            </connector>
            <label>Is New?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Second_buyer_has_changed</name>
        <label>Second buyer has changed?</label>
        <locationX>754</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Second_buyer_has_changed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Kunde2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Kunde2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_second_buyer_contact_role</targetReference>
            </connector>
            <label>Second buyer has changed?</label>
        </rules>
        <rules>
            <name>Second_buyer_has_changed_and_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Kunde2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Kunde2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_second_buyer_role</targetReference>
            </connector>
            <label>Second buyer has changed and is null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Second_buyer_not_null</name>
        <label>Second buyer not null?</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Assign_values_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Second_buyer_not_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Kunde2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_secondBuyerOpportunityContactRole</targetReference>
            </connector>
            <label>Second buyer not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>VSA_EK_vorhanden_und_PB_nicht_leer</name>
        <label>VSA / EK vorhanden und PB nicht leer?</label>
        <locationX>468</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Was_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VSA_EK_vorhanden__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Projektbeauftragte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E_Mail_an_Projektbeauftragte</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Send Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Opportunity After Insert / Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Insert / Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_OpportunityContactRoles</name>
        <label>Insert OpportunityContactRoles</label>
        <locationX>182</locationX>
        <locationY>1607</locationY>
        <inputReference>opportunityContactRoles</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_second_buyer_role</name>
        <label>Delete second buyer role</label>
        <locationX>754</locationX>
        <locationY>1583</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2. Käufer</stringValue>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
    </recordDeletes>
    <recordUpdates>
        <name>Update_broker_contact_role</name>
        <label>Update broker contact role</label>
        <locationX>622</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>First_buyer_has_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Makler</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Makler__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_first_buyer_contact_role</name>
        <label>Update first buyer contact role</label>
        <locationX>622</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Second_buyer_has_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1. Käufer</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Potenzieller_Kunde__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_second_buyer_contact_role</name>
        <label>Update second buyer contact role</label>
        <locationX>490</locationX>
        <locationY>1583</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2. Käufer</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Kunde2__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VSA_EK_vorhanden_und_PB_nicht_leer</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>brokerOpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>firstBuyerOpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>opportunityContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>secondBuyerOpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
