force-app/main/default/flows/Opportunity_before_insert_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Opportunity_values</name>
        <label>Set Opportunity values</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.ForecastCurrentYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Opportunity_values2</name>
        <label>Set Opportunity values</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.ForecastCurrentYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>248</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Notary_date_is_current_year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Is_New2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_values</targetReference>
            </connector>
            <label>Is New?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notary_date_is_current_year</name>
        <label>Notary date is current year</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Notary_date_is_current_year2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notartermin__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>startOfYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notartermin__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>endOfYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_values2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Notary date is current year</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>endOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),12,31)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <formulas>
        <name>startOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),1,1)</expression>
    </formulas>
    <interviewLabel>Opportunity before insert / update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity before insert / update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
