force-app/main/default/flows/Opportunity_before_insert_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_date</name>
        <label>Assign date</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.AnnahmeBisSpaetestens__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>annahmefrist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_due_is_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Financing</name>
        <label>Assign Financing</label>
        <locationX>116</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Finanzierungsberater__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Immobilie__r.Finanzierungsberater__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Closing_Bonus</name>
        <label>Set Closing Bonus</label>
        <locationX>116</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.ClosingBonusInProzent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Immobilie__r.ClosingBonusInPercent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Immobilie_eingetragen_oder_ge_ndert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LeadSource</name>
        <label>Set LeadSource</label>
        <locationX>116</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Potenzieller_Kunde__r.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bankantrag_gestellt_VKO_nicht_leer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_values</name>
        <label>Set Opportunity values</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.ForecastCurrentYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClosingBonusInProzent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Immobilie__r.ClosingBonusInPercent__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Opportunity_values2</name>
        <label>Set Opportunity values</label>
        <locationX>314</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.ForecastCurrentYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Zins_record</name>
        <label>Set Zins record</label>
        <locationX>314</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.VerzugszinsDatensatz__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Verzugszins.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notary_date_is_current_year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VKO_Provision</name>
        <label>VKO Provision</label>
        <locationX>116</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.ProvisionVertriebskoordination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>provisionVertriebskoordination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_won</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bankantrag_gestellt_VKO_nicht_leer</name>
        <label>Bankantrag gestellt + VKO nicht leer?</label>
        <locationX>248</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Is_won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Bankantrag_gestellt_VKO_nicht_leer2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BankantragGestellt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vertriebskoordinator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finanzierung__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Eigenkapitalzahlung</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VKO_Provision</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Bankantrag gestellt + VKO nicht leer?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_LeadSource_not_null</name>
        <label>Contact LeadSource not null?</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Bankantrag_gestellt_VKO_nicht_leer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Contact_LeadSource_not_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potenzieller_Kunde__r.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LeadSource</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Contact LeadSource not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Immobilie_eingetragen_oder_ge_ndert</name>
        <label>Immobilie eingetragen oder geändert?</label>
        <locationX>248</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Is_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Immobilie_eingetragen_oder_ge_ndert2</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Immobilie__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Immobilie__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Financing</targetReference>
            </connector>
            <label>Immobilie eingetragen oder geändert?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_due_is_set</name>
        <label>Invoice due is set?</label>
        <locationX>446</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Notary_date_is_current_year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_due_is_set2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Datum_Kaufpreisf_lligkeitsschreiben__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Verzugszins</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Invoice due is set?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>248</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>K_uferangebot_abgegeben</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Is_New2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_values</targetReference>
            </connector>
            <label>Is New?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_won</name>
        <label>Is won?</label>
        <locationX>248</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Immobilie_eingetragen_oder_ge_ndert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Is_won2</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notartermin hat stattgefunden</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClosingBonusInProzent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Immobilie__r.ClosingBonusInPercent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closing_Bonus</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is won?</label>
        </rules>
    </decisions>
    <decisions>
        <name>K_uferangebot_abgegeben</name>
        <label>Käuferangebot abgegeben</label>
        <locationX>446</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Invoice_due_is_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>K_uferangebot_abgegeben2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.K_uferangebot_abgegeben__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Beurkundung__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.K_uferangebot_abgegeben__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Beurkundung__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2-seitig</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_date</targetReference>
            </connector>
            <label>Käuferangebot abgegeben</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notary_date_is_current_year</name>
        <label>Notary date is current year</label>
        <locationX>446</locationX>
        <locationY>2303</locationY>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Notary_date_is_current_year2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notartermin__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>startOfYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notartermin__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>endOfYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_values2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Notary date is current year</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>annahmefrist</name>
        <dataType>Date</dataType>
        <expression>IF(TEXT({!$Record.Beurkundung__c}) = &apos;Käuferangebot&apos;, {!$Record.K_uferangebot_abgegeben__c}+28, {!$Record.K_uferangebot_abgegeben__c}+35)</expression>
    </formulas>
    <formulas>
        <name>endOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),12,31)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <formulas>
        <name>provisionVertriebskoordination</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Vertriebskoordinator__r.ProvisionVertriebskoordination__c} * IF(({!$Record.DatumBankantragGestellt__c} - {!$Record.Notartermin__c}) &gt; 30, 0.5, 1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>startOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),1,1)</expression>
    </formulas>
    <interviewLabel>Opportunity before insert / update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity before insert / update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Verzugszins</name>
        <label>Get Verzugszins</label>
        <locationX>314</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Zins_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GueltigVon__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Datum_Kaufpreisf_lligkeitsschreiben__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GueltigBis__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Datum_Kaufpreisf_lligkeitsschreiben__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Verzugszins__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_LeadSource_not_null</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
