force-app/main/default/flows/Opportunity_before_insert_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Notizen_Backoffice</name>
        <label>Assign Notizen Backoffice</label>
        <locationX>116</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.NotesBackoffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notizenBackofficeShort</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AZB_verschickt_Datum</name>
        <label>Set AZB verschickt Datum</label>
        <locationX>116</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Zeichnungsschein_an_Notar_verschickt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_is_AZB_vorhanden</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AZB_vorhanden</name>
        <label>Set AZB vorhanden</label>
        <locationX>116</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.AZBVorhanden__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notizen_Backoffice_isChanged_or_new</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_values</name>
        <label>Set Opportunity values</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.ForecastCurrentYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClosingBonusInProzent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Immobilie__r.ClosingBonusInPercent__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Opportunity_values2</name>
        <label>Set Opportunity values</label>
        <locationX>314</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.ForecastCurrentYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Zins_record</name>
        <label>Set Zins record</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.VerzugszinsDatensatz__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Verzugszins.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notary_date_is_current_year</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Invoice_due_is_set</name>
        <label>Invoice due is set?</label>
        <locationX>446</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Notary_date_is_current_year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_due_is_set2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Datum_Kaufpreisf_lligkeitsschreiben__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Verzugszins</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Invoice due is set?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>248</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Invoice_due_is_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Is_New2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_values</targetReference>
            </connector>
            <label>Is New?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notary_date_is_current_year</name>
        <label>Notary date is current year</label>
        <locationX>446</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Notary_date_is_current_year2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notartermin__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>startOfYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notartermin__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>endOfYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_values2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Notary date is current year</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notizen_Backoffice_isChanged_or_new</name>
        <label>Notizen Backoffice isChanged or new?</label>
        <locationX>248</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Is_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notizen_Backoffice_isChanged_or_new2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotizenBackofficeLang__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Notizen_Backoffice</targetReference>
            </connector>
            <label>Notizen Backoffice isChanged or new?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_is_AZB_verschickt</name>
        <label>Stage is &quot;AZB verschickt&quot;?</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Stage_is_AZB_vorhanden</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_is_AZB_verschickt2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auftrag zur Beurkundung verschickt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AZB_verschickt_Datum</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage is &quot;AZB verschickt&quot;?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_is_AZB_vorhanden</name>
        <label>Stage is &quot;AZB vorhanden&quot;?</label>
        <locationX>248</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Notizen_Backoffice_isChanged_or_new</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_is_AZB_vorhanden2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auftrag zur Beurkundung vorhanden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AZB_vorhanden</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage is &quot;AZB vorhanden&quot;?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>endOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),12,31)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <formulas>
        <name>notizenBackofficeShort</name>
        <dataType>String</dataType>
        <expression>IF(!IsBlank({!$Record.NotizenBackofficeLang__c}), LEFT({!$Record.NotizenBackofficeLang__c}, 255), &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>startOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),1,1)</expression>
    </formulas>
    <interviewLabel>Opportunity before insert / update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity before insert / update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Verzugszins</name>
        <label>Get Verzugszins</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Zins_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GueltigVon__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Datum_Kaufpreisf_lligkeitsschreiben__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GueltigBis__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Datum_Kaufpreisf_lligkeitsschreiben__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Verzugszins__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_is_AZB_verschickt</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
