force-app/main/default/flows/Projektfinanzierung_Tilgungslaufzeit_Benachrichtigung.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_notification_nine_months_prior_kopieren</name>
        <label>Send email notification nine months prior kopieren</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>e.ketelsen@carestone.com, t.wehner@carestone.com, p.werheit@carestone.com, a.kuehn@carestone.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>xMonthsPriorEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>nineMonthsPriorEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_notification_sixth_months_prior</name>
        <label>Send email notification sixth months prior</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>e.ketelsen@carestone.com, t.wehner@carestone.com, p.werheit@carestone.com, a.kuehn@carestone.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>xMonthsPriorEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>sixMonthsPriorEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_notification_three_months_prior</name>
        <label>Send email notification three months prior</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>e.ketelsen@carestone.com, t.wehner@carestone.com, p.werheit@carestone.com, a.kuehn@carestone.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>xMonthsPriorEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>threeMonthsPriorEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>linkToProjectFinance</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260)) + &apos;/lightning/r/ProjectFinancing__c/&apos; +{!$Record.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>xMonthsPriorEmailSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Property__r.Name} + &apos; Tilgung l채uft aus&apos;</expression>
    </formulas>
    <interviewLabel>Projektfinanzierung - Tilgungslaufzeit Benachrichtigung {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Projektfinanzierung - Tilgungslaufzeit Benachrichtigung</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RepaymentUntil__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ProjectFinancing__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Tilgung_3_Monate_vorher</name>
            <connector>
                <targetReference>Send_email_notification_three_months_prior</targetReference>
            </connector>
            <label>Tilgung 3 Monate vorher</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>RepaymentUntil__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Tilgung_6_Monate_vorher</name>
            <connector>
                <targetReference>Send_email_notification_sixth_months_prior</targetReference>
            </connector>
            <label>Tilgung 6 Monate vorher</label>
            <offsetNumber>-6</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>RepaymentUntil__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Tilgung_9_Monate_vorher</name>
            <connector>
                <targetReference>Send_email_notification_nine_months_prior_kopieren</targetReference>
            </connector>
            <label>Tilgung 9 Monate vorher</label>
            <offsetNumber>-9</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>RepaymentUntil__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>nineMonthsPriorEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Die Tilgung l채uft in 9 Monaten aus. Link zur Projektfinanzierung:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://carestone--dev.sandbox.lightning.force.com/builder_platform_interaction/%7B!linkToProjectFinance%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>sixMonthsPriorEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Die Tilgung l채uft in 6 Monaten aus. Link zur Projektfinanzierung:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://carestone--dev.sandbox.lightning.force.com/builder_platform_interaction/%7B!linkToProjectFinance%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>threeMonthsPriorEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Die Tilgung l채uft in 3 Monaten aus. Link zur Projektfinanzierung:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!linkToProjectFinance}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
