force-app/main/default/flows/Property_before_insert_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Stage</name>
        <label>Assign Stage</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>aktenstatusToStageMap</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Aktenstatus_not_null_or_changed</name>
        <label>Aktenstatus not null or changed?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Aktenstatus_not_null_or_changed2</name>
            <conditionLogic>1 AND (2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AktenstatusDms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AktenstatusDms__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage</targetReference>
            </connector>
            <label>Aktenstatus not null or changed?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>aktenstatusToStageMap</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.AktenstatusDms__c},
&apos;Initial&apos;, &apos;Akquise&apos;,
&apos;Immobilie angelegt&apos;, &apos;Akquise&apos;,
&apos;Entwicklung (Akquise)&apos;, &apos;Akquise&apos;,
&apos;Entwicklung (Aktiv)&apos;, &apos;Entwicklung&apos;,
&apos;Entwicklung (Abgelehnt)&apos;, &apos;Abgelehnt&apos;,
&apos;Durchführung (Aktiv)&apos;, &apos;Vertrieb&apos;,
&apos;Abwicklung (Aktiv)&apos;, &apos;Abwicklung&apos;,
&apos;Durchführung (Abgeschlossen)&apos;, &apos;AfterSales&apos;,
&apos;Asset Management (Aktiv)&apos;, &apos;Management&apos;,
&apos;Archiviert&apos;, &apos;Abgelehnt&apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Property before insert / update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Property before insert / update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Aktenstatus_not_null_or_changed</targetReference>
        </connector>
        <object>Property__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
