force-app/main/default/flows/Property_AfterInsert_CreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>CS-203</description>
        <name>NewTaskBeurkundungAnkauf</name>
        <label>New Task Beurkundung Ankauf</label>
        <locationX>158</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>TaskDummy.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ResponsiblePE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Beurkundung erfolgt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Der Ankaufsvertrag für dieses Projekt wurde unterzeichnet. Bitte die Fälligkeitsvoraussetzungen aus dem Vertrag beachten.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BeurkundungAnkauf_1DayAfter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BeurkundungAnkauf_2WeeksAfter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PeTasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskDummy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPublicGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>CS-203</description>
        <name>NewTaskBeurkundungAnkaufGroup</name>
        <label>New Task Beurkundung Ankauf Group</label>
        <locationX>138</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>TaskDummy.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAllGroupMembers.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Beurkundung erfolgt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Der Ankaufsvertrag für dieses Projekt wurde unterzeichnet. Bitte die Fälligkeitsvoraussetzungen aus dem Vertrag beachten.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BeurkundungAnkauf_1DayAfter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BeurkundungAnkauf_2WeeksAfter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PeTasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskDummy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllGroupMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>CS-203</description>
        <name>NewTaskExklusivitaetBetreiberBis</name>
        <label>New Task Exklusivitaet Betreiber Bis</label>
        <locationX>168</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>TaskDummy.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ResponsiblePE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminerinnerung Exklusivität Betreiber</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Die Exklusivität mit dem Betreiber läuft am {!$Record.ExklusivitaetBis__c} aus.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExklusivitaetBetreiberBis_2WeeksBefore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExklusivitaetBetreiberBis_1WeekBefore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PeTasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskDummy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIva1Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>CS-203</description>
        <name>NewTaskExklusivitaetVerkaeuferBis</name>
        <label>New Task Exklusivitaet Verkaeufer Bis</label>
        <locationX>168</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>TaskDummy.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ResponsiblePE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminerinnerung Exklusivität Verkäufer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Die Exklusivität mit dem Verkäufer läuft am {!$Record.ExclusivitySellerUntil__c} aus.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExklusivitaetVerkaeuferBis_2WeeksBefore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExklusivitaetVerkaeuferBis_1WeekBefore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PeTasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskDummy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckExklusivitaetBetreiberBisEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>CS-203</description>
        <name>NewTaskIva1</name>
        <label>New Task IVA1</label>
        <locationX>168</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>TaskDummy.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ResponsiblePE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IVA 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wurde der IVA 1 bereits genehmigt?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iva1_3WeeksAfter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iva1_4WeeksAfter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PeTasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskDummy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDummy.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BeurkundungAnkaufEmpty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>CS-203</description>
        <name>BeurkundungAnkaufEmpty</name>
        <label>Beurkundung Ankauf Empty?</label>
        <locationX>300</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>CreatePeTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>CheckBeurkundungAnkaufPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BeurkundungAnkauf__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewTaskBeurkundungAnkauf</targetReference>
            </connector>
            <label>Burkundung Ankauf Populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>CS-203</description>
        <name>CheckExklusivitaetBetreiberBisEmpty</name>
        <label>Exklusivitaet Betreiber Bis Empty?</label>
        <locationX>300</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>CheckIva1Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>EklusivitaetBetreiberBisPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ExklusivitaetBis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewTaskExklusivitaetBetreiberBis</targetReference>
            </connector>
            <label>Eklusivitaet Betreiber Bis Populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>CS-203</description>
        <name>CheckExklusivitaetVerkaeuferBisEmpty</name>
        <label>Exklusivitaet Verkaeufer Bis Empty?</label>
        <locationX>300</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>CheckExklusivitaetBetreiberBisEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>EklusivitaetVerkaeuferBisPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ExclusivitySellerUntil__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewTaskExklusivitaetVerkaeuferBis</targetReference>
            </connector>
            <label>Eklusivitaet Verkaeufer Bis Populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>CS-201</description>
        <name>CheckFormerPeTasksEmpty</name>
        <label>Former PE Tasks Empty?</label>
        <locationX>613</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>CheckResponsiblePeEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No former PE Tasks</defaultConnectorLabel>
        <rules>
            <name>FormerPeTasksNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFormerPeTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteFormerPeTasks</targetReference>
            </connector>
            <label>Former PE Tasks not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckGroupMembersNotEmpty</name>
        <label>Group Members not empty</label>
        <locationX>158</locationX>
        <locationY>2735</locationY>
        <defaultConnector>
            <targetReference>CreatePeTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No group members</defaultConnectorLabel>
        <rules>
            <name>GroupMembersExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecipientsFromGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAllGroupMembers</targetReference>
            </connector>
            <label>Group Members exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>CS-203</description>
        <name>CheckIva1Empty</name>
        <label>IVA1 Empty?</label>
        <locationX>300</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>BeurkundungAnkaufEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>Iva1Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IVA1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewTaskIva1</targetReference>
            </connector>
            <label>IVA1 Populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if field Responsible PE is changed or newly created.
CS-203</description>
        <name>CheckResponsiblePeChangedOrNew</name>
        <label>Responsible PE changed or New?</label>
        <locationX>690</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Not changed</defaultConnectorLabel>
        <rules>
            <name>IsChangedOrNew</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResponsiblePE__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckResponsiblePeInitiallySet</targetReference>
            </connector>
            <label>IsChangedOrNew</label>
        </rules>
    </decisions>
    <decisions>
        <description>CS-203</description>
        <name>CheckResponsiblePeEmpty</name>
        <label>Responsible PE Empty?</label>
        <locationX>459</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetPublicGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>ResponsiblePeNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResponsiblePE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckExklusivitaetVerkaeuferBisEmpty</targetReference>
            </connector>
            <label>Responsible PE Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>CS-203</description>
        <name>CheckResponsiblePeInitiallySet</name>
        <label>Responsible PE initially set?</label>
        <locationX>459</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>GetFormerPeTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Changed to Successor</defaultConnectorLabel>
        <rules>
            <name>InitiallySet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ResponsiblePE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckResponsiblePeEmpty</targetReference>
            </connector>
            <label>Initially Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BeurkundungAnkauf_1DayAfter</name>
        <dataType>Date</dataType>
        <expression>{!$Record.BeurkundungAnkauf__c} + 1</expression>
    </formulas>
    <formulas>
        <name>BeurkundungAnkauf_2WeeksAfter</name>
        <dataType>Date</dataType>
        <expression>{!$Record.BeurkundungAnkauf__c} + 14</expression>
    </formulas>
    <formulas>
        <name>ExklusivitaetBetreiberBis_1WeekBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Record.ExklusivitaetBis__c} - 7</expression>
    </formulas>
    <formulas>
        <name>ExklusivitaetBetreiberBis_2WeeksBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Record.ExklusivitaetBis__c} - 14</expression>
    </formulas>
    <formulas>
        <name>ExklusivitaetVerkaeuferBis_1WeekBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Record.ExclusivitySellerUntil__c} - 7</expression>
    </formulas>
    <formulas>
        <name>ExklusivitaetVerkaeuferBis_2WeeksBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Record.ExclusivitySellerUntil__c} - 14</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Iva1_3WeeksAfter</name>
        <dataType>Date</dataType>
        <expression>{!$Record.IVA1__c} + 21</expression>
    </formulas>
    <formulas>
        <name>Iva1_4WeeksAfter</name>
        <dataType>Date</dataType>
        <expression>{!$Record.IVA1__c} + 28</expression>
    </formulas>
    <interviewLabel>Property - After Insert - Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Property - After Insert - Create/Update</label>
    <loops>
        <description>Loop through all Group Members.
CS-203</description>
        <name>LoopAllGroupMembers</name>
        <label>Loop all Group Members</label>
        <locationX>50</locationX>
        <locationY>2855</locationY>
        <collectionReference>GetRecipientsFromGroup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NewTaskBeurkundungAnkaufGroup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreatePeTasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>CS-203</description>
        <name>CreatePeTasks</name>
        <label>Create PE Tasks</label>
        <locationX>300</locationX>
        <locationY>3383</locationY>
        <inputReference>PeTasksToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>CS-203</description>
        <name>DeleteFormerPeTasks</name>
        <label>Delete former PE Tasks</label>
        <locationX>481</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>CheckResponsiblePeEmpty</targetReference>
        </connector>
        <inputReference>GetFormerPeTasks</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Get tasks to be done be former Responsible PE
CS-203</description>
        <name>GetFormerPeTasks</name>
        <label>Get Former PE Tasks</label>
        <locationX>613</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckFormerPeTasksEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ResponsiblePE__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Public Group including recipients for this task.
CS-203</description>
        <name>GetPublicGroup</name>
        <label>Get Public Group</label>
        <locationX>158</locationX>
        <locationY>2495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecipientsFromGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PeRecipientsTaskBeurkundungAnkauf</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get recipients of this task from public group PeRecipientsTaskBeurkundungAnkauf
CS-203</description>
        <name>GetRecipientsFromGroup</name>
        <label>Get Recipients from Group</label>
        <locationX>158</locationX>
        <locationY>2615</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckGroupMembersNotEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPublicGroup.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>564</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckResponsiblePeChangedOrNew</targetReference>
        </connector>
        <object>Property__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection of PE Tasks to be created</description>
        <name>PeTasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Dummy to create mutliple tasks one after the other.</description>
        <name>TaskDummy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
