force-app/main/default/flows/Property_AfterInsert_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Establish connection between CloudFiles folder and Record.</description>
        <name>AttachCloudFilesFolder</name>
        <label>Attach CloudFiles Folder</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <actionName>cldfs__CreateAttachment</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>driveId</name>
            <value>
                <elementReference>CloudFiles_DriveId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>library</name>
            <value>
                <elementReference>CloudFiles_Library</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resourceId</name>
            <value>
                <elementReference>CreateCloudFilesFolder.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resourceType</name>
            <value>
                <stringValue>folder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Creates folder in Sharepoint via CloudFiles Integration.</description>
        <name>CreateCloudFilesFolder</name>
        <label>Create CloudFiles Folder</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <actionName>cldfs__CreateFolder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AttachCloudFilesFolder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>driveId</name>
            <value>
                <elementReference>CloudFiles_DriveId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>library</name>
            <value>
                <elementReference>CloudFiles_Library</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>Runs on Property Creation after Insert.</description>
    <environments>Default</environments>
    <interviewLabel>CloudFiles Template: Create &amp; Attach Record Folder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Property - After Insert - Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <sourceTemplate>cldfs__CloudFiles_Template_Create_Attach_Record_Folder</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Property__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>CreateCloudFilesFolder</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CloudFiles_DriveId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>b!SnPtv1AOwkGY9TW4_4oL_xhjEtmfhINPtyY8_skZHOcRPgvbJ5WlQYoCnFAO9zy2</stringValue>
        </value>
    </variables>
    <variables>
        <name>CloudFiles_Library</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>sharepoint</stringValue>
        </value>
    </variables>
</Flow>
