force-app/main/default/flows/Provision_Create_After_FieldUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <description>Ordnet dem Feld &apos;Kaufpreis Bezahlt&apos; den Wert TRUE zu. Informationen werden gesammelt, damit nicht innerhalb eines Flows mehrfach ein Update auf den Provisions-Datensatz ausgeführt wird.</description>
        <name>ass_Provision_KaufpreisBezahlt</name>
        <label>ass_Provision_KaufpreisBezahlt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Kaufpreis_bezahlt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_MaklerUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Ordnet dem Feld &apos;1. MaBV-Rate gezahlt&apos; den Wert TRUE zu. Informationen werden gesammelt, damit nicht innerhalb eines Flows mehrfach ein Update auf den Provisions-Datensatz ausgeführt wird.</description>
        <name>ass_Provision_MaBVgezahlt</name>
        <label>ass_Provision_MaBVgezahlt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.X1_MaBV_Rate_gezahlt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_KaufpreisBezahlt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Ordnet dem Feld &apos;Makler user&apos; den CommunityUser zu, der als Makler hinterlegt ist. Informationen werden gesammelt, damit nicht innerhalb eines Flows mehrfach ein Update auf den Provisions-Datensatz ausgeführt wird.</description>
        <name>ass_Provision_MaklerUser</name>
        <label>ass_Provision_MaklerUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.MaklerUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Makler__r.CommunityUser__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateProvision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Ordnet der Datensatz-Variable die Datensatz-ID zu, damit am Ende ein einfaches Update durchgeführt werden kann. Informationen werden gesammelt, damit nicht innerhalb eines Flows mehrfach ein Update auf den Provisions-Datensatz ausgeführt wird.</description>
        <name>ass_ProvisionBasisID</name>
        <label>ass_ProvisionBasisID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRec_Provision.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_MaBVgezahlt</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Prüft, ob bei der Erstellung des Provisionsdatensatzes (Eingangskriterium) auf der Verkaufschance schon das Merkmal &apos;Kaufpreis bezahlt&apos; gesetzt ist.</description>
        <name>dec_KaufpreisBezahlt</name>
        <label>dec_KaufpreisBezahlt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_MaklerUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>dec_KaufpreisBezahlt_Nein</defaultConnectorLabel>
        <rules>
            <name>dec_KaufpreisBezahlt_Ja</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Verkaufschance__r.Kaufpreis_bezahlt__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ass_Provision_KaufpreisBezahlt</targetReference>
            </connector>
            <label>dec_KaufpreisBezahlt_Ja</label>
        </rules>
    </decisions>
    <decisions>
        <description>Prüft, ob bei der Erstellung des Provisionsdatensatzes (Eingangskriterium) auf der Verkaufschance schon das Merkmal &apos;1. MaBV Rate gezahlt&apos; gesetzt ist.</description>
        <name>dec_MaBVgezahlt</name>
        <label>dec_MaBVgezahlt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_KaufpreisBezahlt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>dec_MaBVgezahlt_Nein</defaultConnectorLabel>
        <rules>
            <name>dec_MaBVgezahlt_Ja</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Verkaufschance__r.X1_MaBV_Rate_gezahlt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_Provision_MaBVgezahlt</targetReference>
            </connector>
            <label>dec_MaBVgezahlt_Ja</label>
        </rules>
    </decisions>
    <decisions>
        <description>Prüft, ob bei der Erstellung des Provisionsdatensatzes (Eingangskriterium) der zugeordnete Makler KEIN Community-User ist.</description>
        <name>dec_MaklerUser</name>
        <label>dec_MaklerUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>updateProvision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>dec_MaklerUser_Nein</defaultConnectorLabel>
        <rules>
            <name>dec_MaklerUser_Ja</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Makler__r.CommunityUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_Provision_MaklerUser</targetReference>
            </connector>
            <label>dec_MaklerUser_Ja</label>
        </rules>
    </decisions>
    <description>Bei der Erstellung eines Provisions-Datensatzes werden auf der Verkaufschance schon durchgeführte Zahlungen (1. Rate MaBV und Kaufpreis) geprüft und entsprechende Merkmale auf der Provision gesetzt. Wenn der zugeordnete Empfänger ein CommunityUser ist, wird er als Makler gesetzt.</description>
    <environments>Default</environments>
    <interviewLabel>Provision - Create - After - FieldUpdates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provision - Create - After - FieldUpdates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Aktualisiert auf Basis der vorher selektierten und zugeordneten Werte den aktuellen Provisions-Datensatz.</description>
        <name>updateProvision</name>
        <label>updateProvision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varRec_Provision</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_ProvisionBasisID</targetReference>
        </connector>
        <object>Provision__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Record Variable für den aktuellen Provisionsdatensatz, damit bei möglichen Mehrfachaktualisierungen kein &apos;ObtainAccess&apos; ausgelöst wird.</description>
        <name>varRec_Provision</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Provision__c</objectType>
    </variables>
</Flow>
