force-app/main/default/flows/Provision_before_insert_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_old_value</name>
        <label>Assign old value</label>
        <locationX>198</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.ProvisionsvoraussetzungenErfuelltAm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.ProvisionsvoraussetzungenErfuelltAm__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_new</name>
        <label>Is new?</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Provisionsvoraussetzungen_erf_llt_am_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Is_new2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is new?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provisionsvoraussetzungen_erf_llt_am_is_changed</name>
        <label>Provisionsvoraussetzungen erfüllt am is changed?</label>
        <locationX>330</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Provisionsvoraussetzungen_erf_llt_am_is_changed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProvisionsvoraussetzungenErfuelltAm__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Makler__r.Ist_Maklerbetreuer_WH__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_old_value</targetReference>
            </connector>
            <label>Provisionsvoraussetzungen erfüllt am is changed?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Provision before insert / update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provision before insert / update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_new</targetReference>
        </connector>
        <object>Provision__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
