force-app/main/default/flows/SetupAuditTrail_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <description>Zuordnung der Fehlerdetails in den Monitoring-Datensatz.</description>
        <name>ass_Error2Monitoring</name>
        <label>ass_Error2Monitoring</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRec_Monitoring.Benutzer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_UserFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRec_Monitoring.DatumZeit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRec_Monitoring.Beschreibung__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRec_Monitoring.SektionObjekt__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRec_Monitoring.Aktion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow-Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sub_Error2Monitoring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Zuordnung des Datums, damit im Folgeschritt auf die Datensätze des Vortags gefiltert werden kann..</description>
        <name>ass_RecordDate</name>
        <label>ass_RecordDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FilterDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_RecordDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_DateYesterday</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Aussortierung der Datensätze, die nicht vom Vortag sind.</description>
        <name>dec_DateYesterday</name>
        <label>dec_DateYesterday</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>dec_DateYesterday_no</defaultConnectorLabel>
        <rules>
            <name>dec_DateYesterday_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_FilterDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>for_yesterday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_User</targetReference>
            </connector>
            <label>dec_DateYesterday_yes</label>
        </rules>
    </decisions>
    <description>Fragt die Änderungen vom Vortag ab und überträgt diese dann in das Custom Object &quot;Monitoring&quot;. Ausführung täglich um 02:00 Uhr.</description>
    <environments>Default</environments>
    <formulas>
        <description>Für die Filterung, ob der SetupAuditTrail-Datensatz von gestern ist, wird aus dem Datum/Zeit-Wert einer reiner Datums-Wert gemacht. Sonst müsste man mit größer als / kleiner als den Tag &apos;einkreisen&apos;.</description>
        <name>for_RecordDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <description>Ganzer Name des aktuellen Benutzers für die vollständige Übergabe an das Monitoring. Es wird der name übergeben und kein LookUp durchgeführt, weil nicht alle Einträge einem User zugeordnet werden können (z.B. bei SF-Updates, wenn Salesforce als User angeführt wird).</description>
        <name>for_UserFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>Festelgung von Heute minus 1 Tag, damit in Entscheidungen oder Selektierungen auf den festen Wert gestern zurückgegriffen werden kann.</description>
        <name>for_yesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>SetupAuditTrail - Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SetupAuditTrail - Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Erstellt die Monitoring-Datensätze, die aus den bestehenden SetupAuditTrail-Datensätzen gefiltert wurden.</description>
        <name>create_Monitoring</name>
        <label>create_Monitoring</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>ass_Error2Monitoring</targetReference>
        </faultConnector>
        <inputReference>trans_SetupAuditTrail2Monitoring</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Der Beschreibungstext aus dem ursprünglichen Setup-AuditTrail-Datensatz darf in der Transformation nicht genutzt werden, daher wird dieser hier noch einmal abgefragt.</description>
        <name>get_SetupAuditTrail</name>
        <label>get_SetupAuditTrail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>trans_SetupAuditTrail2Monitoring</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SetupAuditTrail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Selektierung von Usern, damit aus der Datensatz-ID des benutzers ein Klarname gemacht werden kann.</description>
        <name>get_User</name>
        <label>get_User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_SetupAuditTrail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_RecordDate</targetReference>
        </connector>
        <object>SetupAuditTrail</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-02-17</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Übergibt die aktuellen Parameter der Fehlermeldung an den SubFlow, damit von dort ein entsprechender Datensatz im Monitoring-Objekt erstellt werden kann.</description>
        <name>sub_Error2Monitoring</name>
        <label>sub_Error2Monitoring</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SubFlow_Error2Monitoring</flowName>
        <inputAssignments>
            <name>varRec_Monitoring</name>
            <value>
                <elementReference>varRec_Monitoring</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Zuweisung des via Formel generierten Werts in diese Variable, damit er in Entscheidungen genutzt werden kann.</description>
        <name>var_FilterDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Datensatz-Variable, die Informationen aus der Fehlermeldung durch die Zuordnung aufgenommen hat und an den SubFlow übergibt.</description>
        <name>varRec_Monitoring</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Monitoring__c</objectType>
    </variables>
    <variables>
        <description>Übergabe der RecordVariable Monitoring in diese Sammlung für die Massenanlage der Monitoring-Einträge.</description>
        <name>varRecCol_Monitoring</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Monitoring__c</objectType>
    </variables>
</Flow>
