force-app/main/default/flows/SubFlow_Error2Monitoring.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <description>Zuordnung/Ersetzung der Datensatz-ID gegen einen festgeschriebenen Hinweis, weil kein Objekt ermittelt werden konnte.</description>
        <name>ass_ObjectNo</name>
        <label>ass_ObjectNo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRec_Monitoring.SektionObjekt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ObjectNameNotExists</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ObjectNameNotExists</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Monitoring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Zuordnung/Ersetzung der Datensatz-ID gegen den Objekt-Namen in den noch folgenden benötigten Artifakten.</description>
        <name>ass_ObjectYes</name>
        <label>ass_ObjectYes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRec_Monitoring.SektionObjekt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Object.QualifiedApiName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Object.QualifiedApiName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Monitoring</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Prüft, ob zum Datensatz ein Salesforce-Objekt gefunden werden konnte.</description>
        <name>dec_ObjectExists</name>
        <label>dec_ObjectExists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_ObjectNo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>dec_ObjectExists_no</defaultConnectorLabel>
        <rules>
            <name>dec_ObjectExists_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_ObjectYes</targetReference>
            </connector>
            <label>dec_ObjectExists_yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_varRec_Ok</name>
        <label>dec_varRec_Ok</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>dec_varRec_Ok_no</defaultConnectorLabel>
        <rules>
            <name>dec_varRec_Ok_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRec_Monitoring</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Object</targetReference>
            </connector>
            <label>dec_varRec_Ok_yes</label>
        </rules>
    </decisions>
    <description>SubFlow, der die Details einer ErrorMessage in einen zentralen Monitoring-Datensatz im zentralen Administrations-Management zur Verfügung stellt.</description>
    <environments>Default</environments>
    <formulas>
        <description>Objekt-KeyPrefix-Ermittlung auf Basis der ersten 3 Zeichen aus der übergebenen DatensatzID.</description>
        <name>for_KeyPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!varRec_Monitoring.Id},3)</expression>
    </formulas>
    <formulas>
        <description>Ganzer Name des aktuellen Benutzers für die vollständige Übergabe an das Monitoring.</description>
        <name>for_UserFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>AutoLaunched - Error2Monitoring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow - Error2Monitoring</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Erstellt aus den zugeordneten Informationen aus der Fehlermeldung jetzt den Datensatz im Monitoring-Objekt.</description>
        <name>create_Monitoring</name>
        <label>create_Monitoring</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>create_MonitoringError</targetReference>
        </faultConnector>
        <inputReference>varRec_Monitoring</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Sollte die Erstellung der &apos;Fehlermeldung&apos; im Monitoring selber einen Fehler ergeben, wird dieser Fehler hier an das Monitoring übergeben.</description>
        <name>create_MonitoringError</name>
        <label>create_MonitoringError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Aktion__c</field>
            <value>
                <stringValue>Flow Monitoring-Erstellungs-Fehler</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benutzer__c</field>
            <value>
                <elementReference>for_UserFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beschreibung__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DatumZeit__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SektionObjekt__c</field>
            <value>
                <elementReference>var_ObjectName</elementReference>
            </value>
        </inputAssignments>
        <object>Monitoring__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Selektierung des Objekts aus dem der ursprüngliche Fehler gemeldet wurde.</description>
        <name>get_Object</name>
        <label>get_Object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_ObjectExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KeyPrefix</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_KeyPrefix</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_varRec_Ok</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable um bei der Übergabe der Fehlermeldung aus dem Vor-Flow auf Basis der Datensatz-ID hier den Objektnamen abzuspeichern.</description>
        <name>var_ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable um bei der Übergabe der Fehlermeldung aus dem Vor-Flow auf Basis einen festen Wert abzuspeichern, weil kein Objektname ermittelt werden konnte.</description>
        <name>var_ObjectNameNotExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;Objekt nicht ermittelbar&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <description>Datensatz-Variable vom Objekt &apos;Monitoring&apos; in den vom gestarteten Flow die Inhalte einer Fehlermeldung weitergegeben werden, damit in diesem Flow der Datensatz für das Monitoring-Objekt erstellt werden kann.</description>
        <name>varRec_Monitoring</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Monitoring__c</objectType>
    </variables>
</Flow>
