force-app/main/default/flows/Teilobjekt_before_insert_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Mindestabgabepreis_from_Percentage</name>
        <label>Assign Mindestabgabepreis from Percentage</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Mindestabgabepreis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mindestabgabepreis</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Mindestabgabeprozent</name>
        <label>Assign Mindestabgabeprozent</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.MindestabgabepreisInProzent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Property__r.MindestabgabepreisInProzent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Something_regarding_Mindestabgabepreis_changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Something_regarding_Mindestabgabepreis_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Is_New2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mindestabgabeprozent</targetReference>
            </connector>
            <label>Is New?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_automations</name>
        <label>Run automations?</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Run_automations2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New</targetReference>
            </connector>
            <label>Run automations?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Something_regarding_Mindestabgabepreis_changed</name>
        <label>Something regarding &quot;Mindestabgabepreis&quot; changed</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Something_regarding_Mindestabgabepreis_changed2</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3) OR (2 AND 4) OR (2 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mindestabgabepreis</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.beurkundeter_Kaufpreis__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MindestabgabepreisInProzent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mindestabgabepreis_from_Percentage</targetReference>
            </connector>
            <label>Something regarding &quot;Mindestabgabepreis&quot; changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <formulas>
        <name>mindestabgabepreis</name>
        <dataType>Currency</dataType>
        <expression>IF(!IsBlank({!$Record.MindestabgabepreisInProzent__c}) &amp;&amp; {!$Record.MindestabgabepreisInProzent__c} != 0, IF(!IsBlank({!$Record.beurkundeter_Kaufpreis__c}), {!$Record.beurkundeter_Kaufpreis__c} * {!$Record.MindestabgabepreisInProzent__c} / 100, {!$Record.Purchase_Price__c} * {!$Record.MindestabgabepreisInProzent__c} / 100), 0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Teilobjekt before insert / update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Teilobjekt before insert / update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_automations</targetReference>
        </connector>
        <object>Appartment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
