force-app/main/default/flows/Teilobjekt_before_insert_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Status_Kontingent</name>
        <label>Assign Status Kontingent</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kontingent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reserviert_bis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.KontingentReserviertBis__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Kontingent_reserviert_bis</name>
        <label>Set Kontingent reserviert bis</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.KontingentReserviertBis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reserviert_bis__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_available_and_Kontingent_not_null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Reserviert_bis_not_null_and_Kontingent</name>
        <label>Reserviert bis not null and Kontingent?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Status_available_and_Kontingent_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Reserviert_bis_not_null_and_Kontingent2</name>
            <conditionLogic>((1 AND 4) OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reserviert_bis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kontingent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reserviert_bis__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Kontingent_reserviert_bis</targetReference>
            </connector>
            <label>Reserviert bis not null and Kontingent?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_available_and_Kontingent_not_null</name>
        <label>Status available and Kontingent not null?</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_available_and_Kontingent_not_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContingentRequester__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property__r.HeissePhase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Kontingent</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status available and Kontingent not null?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Teilobjekt before insert / update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Teilobjekt before insert / update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reserviert_bis_not_null_and_Kontingent</targetReference>
        </connector>
        <object>Appartment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
