force-app/main/default/flows/TrainstoneZertifikateVersenden.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Starten</name>
        <label>Apex_Starten</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TrainstoneCertificateSender</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>memberStatus</name>
            <value>
                <elementReference>Status_Auswahl</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>Darf_gesendet_werden</name>
        <label>Darf gesendet werden?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fehlermeldung</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ja</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Kampagne_pr_fen.Fortbildungsanerkennung__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zertifikate_versenden</targetReference>
            </connector>
            <label>Ja</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TrainstoneZertifikateVersenden {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TrainstoneZertifikateVersenden</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Kampagne_pr_fen</name>
        <label>Kampagne prüfen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Darf_gesendet_werden</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fehlermeldung</name>
        <label>Fehlermeldung</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fehler_Checkbox_fehlt</name>
            <fieldText>&lt;p&gt;Für diese Kampagne können keine Zertifikate versendet werden, da die Checkbox &apos;Fortbildungsanerkennung&apos; nicht gesetzt ist.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Zertifikate_versenden</name>
        <label>Zertifikate versenden</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Apex_Starten</targetReference>
        </connector>
        <fields>
            <name>Status_Auswahl</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Teilgenommen</stringValue>
            </defaultValue>
            <fieldText>Status_Auswahl</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Kampagne_pr_fen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
