force-app/main/default/flows/User_ScreenFlow_UtilityItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>66.0</apiVersion>
    <dynamicChoiceSets>
        <name>choiceSet_Language</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LanguageLocaleKey</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>User - ScreenFlow - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - ScreenFlow - Utility Items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_User</name>
        <label>get_User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_UserSettings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_User</name>
        <label>update_User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <elementReference>screen_UserSettings_Language</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>screen_UserSettings</name>
        <label>screen_UserSettings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_User</targetReference>
        </connector>
        <fields>
            <name>screen_UserSettings_Language</name>
            <choiceReferences>choiceSet_Language</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_User.LanguageLocaleKey</elementReference>
            </defaultValue>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
