force-app/main/default/flows/User_update_contact_async.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>E_Mail_Benachrichtigung_an_MB</name>
        <label>E-Mail Benachrichtigung an MB</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Neuer VP Benutzer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact.Account.Maklerbetreuer_Wirtschaftshaus_2__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>newUserEmailText</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Is_New2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>E_Mail_Benachrichtigung_an_MB</targetReference>
            </connector>
            <label>Is New?</label>
        </rules>
    </decisions>
    <formulas>
        <name>detailLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &apos;/services&apos;, $Api.Enterprise_Server_URL_510)) + {!$Record.ContactId}</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>User update contact async {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User update contact async</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_with_Community_User_Id</name>
        <label>Update Contact with Community User Id</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CommunityUser__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_Async</name>
            <connector>
                <targetReference>Update_Contact_with_Community_User_Id</targetReference>
            </connector>
            <label>Run Async</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>newUserEmailText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Es wurde ein neuer VP Nutzer mit den folgenden Daten angelegt:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link: &lt;a href=&quot;{!detailLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!detailLink}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Name: {!$Record.Name}&lt;/p&gt;&lt;p&gt;E-Mail: {!$Record.Email}&lt;/p&gt;&lt;p&gt;Benutzername: {!$Record.Username}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
