force-app/main/default/flows/Verkaufsraum_to_Verkaufschance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Reservierungsscheine_via_DocuSign_versenden</name>
        <label>Apex Reservierungsscheine via DocuSign versenden</label>
        <locationX>402</locationX>
        <locationY>3338</locationY>
        <actionName>DocuSignHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_BerechnungsApartmentIds</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>docuSignTemplateId</name>
            <value>
                <elementReference>DocuSignTemplateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailContent</name>
            <value>
                <elementReference>EmailContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>Verkaufschance_erstellen</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BerechnungsApartmentIds</name>
        <label>BerechnungsApartmentIds</label>
        <locationX>314</locationX>
        <locationY>2090</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Dokumente_via_DocuSign_versenden</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Apartments</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_CountBerechnungen_and_SingleBerechnungId</name>
        <label>Set CountBerechnungen and SingleBerechnungId</label>
        <locationX>402</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>CountBerechnungen</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBerechnungId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Berechnungen.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Berechnungen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DocuSignTemplateId_to_AZB_Id</name>
        <label>Set DocuSignTemplateId to AZB Id</label>
        <locationX>314</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>DocuSignTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AZB_DocuSign_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dokumente_via_DocuSign_versenden_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DocuSignTemplateId_to_Reservierungsschein_Id</name>
        <label>Set DocuSignTemplateId to Reservierungsschein Id</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>DocuSignTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Reservierungsschein_DocuSign_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dokumente_via_DocuSign_versenden_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SendWithDocuSign_to_true</name>
        <label>Set SendWithDocuSign to true</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>SendWithDocuSign</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocuSign_E_Mail_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AZBs_via_DocuSign_versenden</name>
        <choiceText>Notarauftrag versenden</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Notarauftrag versenden</stringValue>
        </value>
    </choices>
    <choices>
        <name>Frau</name>
        <choiceText>Frau</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Frau</stringValue>
        </value>
    </choices>
    <choices>
        <name>Herr</name>
        <choiceText>Herr</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Herr</stringValue>
        </value>
    </choices>
    <choices>
        <name>Keine_Auswahl</name>
        <choiceText>Keine Auswahl</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Reservierungsscheine_via_DocuSign_versenden</name>
        <choiceText>Reservierung versenden</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reservierung versenden</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Dokumente_via_DocuSign_versenden</name>
        <label>Dokumente via DocuSign versenden?</label>
        <locationX>314</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Dokumente_via_DocuSign_versenden_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reservierungsscheine_via_DocuSign_senden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocuSign</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reservierungsscheine_via_DocuSign_versenden</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DocuSignTemplateId_to_Reservierungsschein_Id</targetReference>
            </connector>
            <label>Reservierungsscheine via DocuSign senden</label>
        </rules>
        <rules>
            <name>AZBs_via_DocuSign_senden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocuSign</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AZBs_via_DocuSign_versenden</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DocuSignTemplateId_to_AZB_Id</targetReference>
            </connector>
            <label>AZBs via DocuSign senden</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dokumente_via_DocuSign_versenden0</name>
        <label>Dokumente via DocuSign versenden?</label>
        <locationX>534</locationX>
        <locationY>3230</locationY>
        <defaultConnector>
            <targetReference>Loop_BerechnungsApartmentIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wahr_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendWithDocuSign</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Reservierungsscheine_via_DocuSign_versenden</targetReference>
            </connector>
            <label>Wahr</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dokumente_via_DocuSign_versenden_0</name>
        <label>Dokumente via DocuSign versenden?</label>
        <locationX>314</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Loop_BerechnungsApartmentIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Via_DocuSign_senden</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DocuSign</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reservierungsscheine_via_DocuSign_versenden</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocuSign</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AZBs_via_DocuSign_versenden</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SendWithDocuSign_to_true</targetReference>
            </connector>
            <label>Via DocuSign senden</label>
        </rules>
    </decisions>
    <decisions>
        <name>ErsterKaeufer_fehlende_Daten</name>
        <label>ErsterKaeufer fehlende Daten</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ZweiterKaeufer_fehlende_Daten</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fehlende_Daten</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ErsterKaeufer.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ErsterKaeufer.Salutation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_ErsterKaeufer</targetReference>
            </connector>
            <label>Fehlende Daten</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mehr_als_eine_Berechnung</name>
        <label>Mehr als eine Berechnung?</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Apartmentauswahl</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wahr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountBerechnungen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Berechnung_ausw_hlen_0</targetReference>
            </connector>
            <label>Wahr</label>
        </rules>
    </decisions>
    <decisions>
        <name>ZweiterKaeufer_fehlende_Daten</name>
        <label>ZweiterKaeufer fehlende Daten</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Berechnungen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fehlende_Daten_0</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ZweiterKaeufer.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ZweiterKaeufer.Salutation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ZweiterKaeufer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_ZweiterKaeufer</targetReference>
            </connector>
            <label>Fehlende Daten</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Berechnungen1</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Verkaufsraum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Berechnung__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BerechnungsApartments</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>Berechnung__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Berechnungen1</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApartmentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Berechnung__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleBerechnungId</elementReference>
            </value>
        </filters>
        <object>BerechnungsApartment__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DateIn3Months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 3)</expression>
    </formulas>
    <formulas>
        <name>ReservierungsscheinText</name>
        <dataType>String</dataType>
        <expression>IF({!SendWithDocuSign}, &apos;Die Dokumente wurden erfolgreich versendet.&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Verkaufschancen generieren {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verkaufschancen aus Berechnung erstellen</label>
    <loops>
        <name>Loop_Berechnungen</name>
        <label>Loop Berechnungen</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <collectionReference>Berechnungen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_CountBerechnungen_and_SingleBerechnungId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mehr_als_eine_Berechnung</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_BerechnungsApartmentIds</name>
        <label>Loop BerechnungsApartmentIds</label>
        <locationX>314</locationX>
        <locationY>2906</locationY>
        <collectionReference>BerechnungsApartmentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Berechnungs_Apartment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Verkaufschance_erstellen</name>
        <label>Verkaufschance erstellen</label>
        <locationX>534</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>Dokumente_via_DocuSign_versenden0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Berechnungs_Apartment.Berechnung__r.Makler__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appartement__c</field>
            <value>
                <elementReference>Berechnungs_Apartment.Apartment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>DateIn3Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Immobilie__c</field>
            <value>
                <elementReference>Berechnungs_Apartment.Immobilie__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Immobilienberater__c</field>
            <value>
                <elementReference>Berechnungs_Apartment.Berechnung__r.Makler__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kunde2__c</field>
            <value>
                <elementReference>Berechnungs_Apartment.Berechnung__r.ZweiterKaeufer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Makler__c</field>
            <value>
                <elementReference>Berechnungs_Apartment.Berechnung__r.Makler__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>a</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Potenzieller_Kunde__c</field>
            <value>
                <elementReference>Berechnungs_Apartment.Berechnung__r.ErsterKaeufer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriceAdjustment__c</field>
            <value>
                <elementReference>Berechnungs_Apartment.PriceAdjustment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Reservierung angefragt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verkaufsraum__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Berechnungen</name>
        <label>Berechnungen</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Berechnungen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Verkaufsraum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Berechnung__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Berechnungs_Apartment</name>
        <label>Berechnungs-Apartment</label>
        <locationX>534</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verkaufschance_erstellen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_BerechnungsApartmentIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BerechnungsApartment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ErsterKaeufer</name>
        <label>ErsterKaeufer</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ZweiterKaeufer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Verkaufsraum.ErsterKaeufer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Verkaufsraum</name>
        <label>Verkaufsraum</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ErsterKaeufer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Verkaufsraum__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ZweiterKaeufer</name>
        <label>ZweiterKaeufer</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ErsterKaeufer_fehlende_Daten</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Verkaufsraum.ZweiterKaeufer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ErsterKaeufer</name>
        <label>Update ErsterKaeufer</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>ZweiterKaeufer_fehlende_Daten</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ErsterKaeufer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>ErsterKaeuferEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Anrede</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ZweiterKaeufer_0</name>
        <label>Update ZweiterKaeufer</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Berechnungen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ZweiterKaeufer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>ZweiterKaeuferEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Anrede_0</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Apartmentauswahl</name>
        <label>Apartmentauswahl</label>
        <locationX>314</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BerechnungsApartmentIds</targetReference>
        </connector>
        <fields>
            <name>ApartmentHelpText</name>
            <fieldText>&lt;p&gt;Wählen Sie die Apartments aus, die Sie reservieren möchten und klicken Sie auf &quot;Weiter&quot;. Es werden nur verfügbare Apartments angezeigt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Apartments</name>
            <choiceReferences>BerechnungsApartments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Apartments auswählen</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DocuSign</name>
            <choiceReferences>Reservierungsscheine_via_DocuSign_versenden</choiceReferences>
            <choiceReferences>AZBs_via_DocuSign_versenden</choiceReferences>
            <choiceReferences>Keine_Auswahl</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Keine_Auswahl</defaultSelectedChoiceReference>
            <fieldText>Unterlagen zur Unterschrift an Kunden senden</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Berechnung_ausw_hlen_0</name>
        <label>Berechnung auswählen</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Apartmentauswahl</targetReference>
        </connector>
        <fields>
            <name>Help_0</name>
            <fieldText>&lt;p&gt;Wählen Sie die Berechnung aus und klicken Sie auf &quot;Weiter&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WhichBerechnung</name>
            <choiceReferences>Berechnungen1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Berechnung auswählen</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DocuSign_E_Mail_0_0</name>
        <label>DocuSign E-Mail</label>
        <locationX>182</locationX>
        <locationY>2714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_BerechnungsApartmentIds</targetReference>
        </connector>
        <fields>
            <name>EmailSubject</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Ihre Pflegeimmobilien-Kaufanfrage</stringValue>
            </defaultValue>
            <fieldText>E-Mail Betreff</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailContent</name>
            <defaultValue>
                <stringValue>Vielen Dank für Ihre Interesse an unseren Pflegeimmobilien. Bitte überprüfen Sie die Unterlagen sorgfältig und signieren Sie diese elektronisch anhand des nachstehenden Links:</stringValue>
            </defaultValue>
            <fieldText>E-Mail Inhalt</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_ErsterKaeufer</name>
        <label>Input ErsterKaeufer</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_ErsterKaeufer</targetReference>
        </connector>
        <fields>
            <name>FehlendeDatenErsterKaeuferText</name>
            <fieldText>&lt;p&gt;Bitte ergänzen Sie die Daten für: {!ErsterKaeufer.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ErsterKaeufer.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Anrede</name>
            <choiceReferences>Herr</choiceReferences>
            <choiceReferences>Frau</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ErsterKaeufer.Salutation</elementReference>
            </defaultValue>
            <fieldText>Anrede</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErsterKaeuferEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>maxmustermann@gmail.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ErsterKaeufer.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_ZweiterKaeufer</name>
        <label>Input ZweiterKaeufer</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_ZweiterKaeufer_0</targetReference>
        </connector>
        <fields>
            <name>FehlendeDatenZweiterKaeuferText</name>
            <fieldText>&lt;p&gt;Bitte ergänzen Sie die Daten für: {!ZweiterKaeufer.FirstName} &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!&lt;/span&gt;Zweiter&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Kaeufer.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Anrede_0</name>
            <choiceReferences>Herr</choiceReferences>
            <choiceReferences>Frau</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ZweiterKaeufer.Salutation</elementReference>
            </defaultValue>
            <fieldText>Anrede</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ZweiterKaeuferEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>maxmustermann@gmail.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ErsterKaeufer.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>314</locationX>
        <locationY>3614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SucessMessage</name>
            <fieldText>&lt;p&gt;Die Verkaufschancen wurden erfolgreich erstellt. {!ReservierungsscheinText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verkaufsraum</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountBerechnungen</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DocuSignTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendWithDocuSign</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SingleBerechnungId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
