force-app/main/default/flows/Vertriebsportalnutzer_anlegen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Manager_Role</name>
        <label>Assign Manager Role</label>
        <locationX>248</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>UserRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Manager_User_Role.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Portal_User</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Assistent</name>
        <choiceText>Assistent</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Assistent</elementReference>
        </value>
    </choices>
    <choices>
        <name>Benutzer</name>
        <choiceText>Benutzer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benutzer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manager</name>
        <choiceText>Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manager</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Darf_Provisionsdaten_sehen2</name>
        <label>Darf Provisionsdaten sehen?</label>
        <locationX>182</locationX>
        <locationY>3410</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Darf_Provisionsdaten_sehen3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Darf_Provisionsdaten_sehen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Provision_Permission_Set</targetReference>
            </connector>
            <label>Darf Provisionsdaten sehen?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Username</name>
        <label>Duplicate Username?</label>
        <locationX>1238</locationX>
        <locationY>2870</locationY>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>PortalUserAlreadyExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PORTAL_USER_ALREADY_EXISTS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Portal_User_already_exists</targetReference>
            </connector>
            <label>Portal User already exists</label>
        </rules>
        <rules>
            <name>Duplicate_Username2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DUPLICATE_USERNAME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Benutzername_bereits_vergeben</targetReference>
            </connector>
            <label>Duplicate Username?</label>
        </rules>
        <rules>
            <name>Duplicate_Nickname</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DUPLICATE_COMM_NICKNAME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nickname_already_exists</targetReference>
            </connector>
            <label>Duplicate Nickname?</label>
        </rules>
    </decisions>
    <decisions>
        <name>E_Mail_null</name>
        <label>E-Mail null?</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Check_Internal_Users_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>E_Mail_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E_Mail_Adresse_leer</targetReference>
            </connector>
            <label>E-Mail null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_activated_as_partner</name>
        <label>Is Account activated as partner?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Account_muss_als_Partner_aktiviert_werden</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Account_activated_as_partner2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.IsPartner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E_Mail_null</targetReference>
            </connector>
            <label>Is Account activated as partner?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_manager_User</name>
        <label>Is manager User?</label>
        <locationX>380</locationX>
        <locationY>3086</locationY>
        <defaultConnector>
            <targetReference>Assign_Accounts_bearbeiten_Permission_Set_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_manager_User2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rolle</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Benutzer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accounts_bearbeiten_Permission_Set</targetReference>
            </connector>
            <label>Is manager User?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_manager_User_0</name>
        <label>Is manager User?</label>
        <locationX>380</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Create_Portal_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_manager_User2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rolle</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Benutzer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Manager_Role</targetReference>
            </connector>
            <label>Is manager User?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula to set naming convention of Nickname.</description>
        <name>CommunityNickname</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Contact.Name} + &quot; (&quot; + {!Get_Contact.Account.Name} + &quot;)&quot;,40)</expression>
    </formulas>
    <formulas>
        <name>ProfileId</name>
        <dataType>String</dataType>
        <expression>IF({!Rolle} = &apos;Benutzer&apos;, {!Get_normal_profile.Id}, {!Get_Manager_Profile.Id})</expression>
    </formulas>
    <formulas>
        <name>TextRolle</name>
        <dataType>String</dataType>
        <expression>IF({!Darf_Provisionsdaten_sehen}, {!Rolle}, &apos;Benutzer&apos;)</expression>
    </formulas>
    <formulas>
        <name>UserAlias</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Contact.FirstName},1)  + LEFT({!Get_Contact.LastName},4)</expression>
    </formulas>
    <formulas>
        <description>Username convention</description>
        <name>Username</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Check_Internal_Users_Email.Id}),
{!Get_Contact.Email},
{!Get_Contact.Email} + &quot;.vp&quot;)</expression>
    </formulas>
    <interviewLabel>Vertriebsportalnutzer anlegen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vertriebsportalnutzer anlegen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Assign_Accounts_bearbeiten_Permission_Set</name>
        <label>Assign Accounts bearbeiten Permission Set</label>
        <locationX>182</locationX>
        <locationY>3194</locationY>
        <connector>
            <targetReference>Assign_Kontakte_bearbeiten_Permission_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>Create_Portal_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Account_bearbeiten_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Accounts_bearbeiten_Permission_Set_0</name>
        <label>Assign Accounts bearbeiten Permission Set</label>
        <locationX>578</locationX>
        <locationY>3194</locationY>
        <connector>
            <targetReference>Assign_Kontakte_bearbeiten_Permission_Set_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>Create_Portal_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Account_bearbeiten_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Default_Permission_Set</name>
        <label>Assign Default Permission Set</label>
        <locationX>380</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>Assign_DocuSign_Permission_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>Create_Portal_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Default_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_DocuSign_Permission_Set</name>
        <label>Assign DocuSign Permission Set</label>
        <locationX>380</locationX>
        <locationY>2978</locationY>
        <connector>
            <targetReference>Is_manager_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>Create_Portal_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_DocuSign_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Kontakte_bearbeiten_Permission_Set</name>
        <label>Assign Kontakte bearbeiten Permission Set</label>
        <locationX>182</locationX>
        <locationY>3302</locationY>
        <connector>
            <targetReference>Darf_Provisionsdaten_sehen2</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>Create_Portal_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Kontakte_bearbeiten_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Kontakte_bearbeiten_Permission_Set_0</name>
        <label>Assign Kontakte bearbeiten Permission Set</label>
        <locationX>578</locationX>
        <locationY>3302</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>Create_Portal_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Kontakte_bearbeiten_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Provision_Permission_Set</name>
        <label>Assign Provision Permission Set</label>
        <locationX>50</locationX>
        <locationY>3518</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>Create_Portal_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Provision_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Portal_User</name>
        <label>Create Portal User</label>
        <locationX>380</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Assign_Default_Permission_Set</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Duplicate_Username</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>UserAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>CommunityNickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>de</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>de_DE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>ProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextRolle__c</field>
            <value>
                <elementReference>TextRolle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>Europe/Berlin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <elementReference>UserRoleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Portal_User_Custom_Nickname</name>
        <label>Create Portal User Custom Nickname</label>
        <locationX>1370</locationX>
        <locationY>3086</locationY>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>UserAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>CommunityNickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>de</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>de_DE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>ProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextRolle__c</field>
            <value>
                <elementReference>TextRolle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>Europe/Berlin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <elementReference>UserRoleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Check if internal user exists with this Email address.</description>
        <name>Check_Internal_Users_Email</name>
        <label>Check Internal Users Email</label>
        <locationX>380</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vertriebsportalnutzer_aktivieren</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_activated_as_partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_bearbeiten_Permission_Set</name>
        <label>Get Account bearbeiten Permission Set</label>
        <locationX>380</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Kontakte_bearbeiten_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Community_Accounts_bearbeiten</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Benutzer_User_Role</name>
        <label>Get Benutzer User Role</label>
        <locationX>380</locationX>
        <locationY>2354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_manager_User_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PortalAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Benutzer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Permission_Set</name>
        <label>Get Default Permission Set</label>
        <locationX>380</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_bearbeiten_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Community_Immobilien</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DocuSign_Permission_Set</name>
        <label>Get DocuSign Permission Set</label>
        <locationX>380</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manager_User_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PS67000000yISM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_F_hrungskraft_User_Role</name>
        <label>Get Führungskraft User Role</label>
        <locationX>380</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Benutzer_User_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PortalAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Führungskraft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Kontakte_bearbeiten_Permission_Set</name>
        <label>Get Kontakte bearbeiten Permission Set</label>
        <locationX>380</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provision_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Community_Kontakte_bearbeiten</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_Profile</name>
        <label>Get Manager Profile</label>
        <locationX>380</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_normal_profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Community Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_User_Role</name>
        <label>Get Manager User Role</label>
        <locationX>380</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_F_hrungskraft_User_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PortalAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_normal_profile</name>
        <label>Get normal profile</label>
        <locationX>380</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Community User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provision_Permission_Set</name>
        <label>Get Provision Permission Set</label>
        <locationX>380</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DocuSign_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Community_Provision</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact</name>
        <label>Update contact</label>
        <locationX>248</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Check_Internal_Users_Email</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateActivatePartnerAccount</name>
        <label>Activate Partner Account</label>
        <locationX>468</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>E_Mail_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPartner</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Account_muss_als_Partner_aktiviert_werden</name>
        <label>Account muss als Partner aktiviert werden</label>
        <locationX>468</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateActivatePartnerAccount</targetReference>
        </connector>
        <fields>
            <name>PartnerAccountNotActivatedText</name>
            <fieldText>&lt;p&gt;Der übergeordnete Account ist noch nicht als Partner aktiviert.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Account.Name}&lt;/strong&gt; als Partner aktivieren?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Benutzername_bereits_vergeben</name>
        <label>Benutzername bereits vergeben</label>
        <locationX>1106</locationX>
        <locationY>2978</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UsernameAlreadyTaken</name>
            <fieldText>&lt;p&gt;Dieser Benutzername ist bereits vergeben. Eventuell hat ein anderer Kontakt mit dieser Emailadresse bereits Zugang zum Vertriebsportal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>E_Mail_Adresse_leer</name>
        <label>E-Mail Adresse leer</label>
        <locationX>248</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_contact</targetReference>
        </connector>
        <fields>
            <name>EmailNullText</name>
            <fieldText>&lt;p&gt;Bitte geben Sie eine E-Mail Adresse für den Kontakt &lt;strong&gt;{!Get_Contact.Name}&lt;/strong&gt; an.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Contact.Email</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nickname_already_exists</name>
        <label>Nickname already exists</label>
        <locationX>1370</locationX>
        <locationY>2978</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Portal_User_Custom_Nickname</targetReference>
        </connector>
        <fields>
            <name>NicknameAlreadyTaken</name>
            <fieldText>&lt;p&gt;Dieser Nickname ist bereits vergeben. Bitte alternativen Namen vergeben!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nickname</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CommunityNickname</elementReference>
            </defaultValue>
            <fieldText>Nickname</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Nickname bereits vergeben!&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Nickname} == {!CommunityNickname}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Portal_User_already_exists</name>
        <label>Portal User already exists</label>
        <locationX>842</locationX>
        <locationY>2978</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PortalUserExists</name>
            <fieldText>&lt;p&gt;Für diesen Kontakt existiert bereits ein Benutzer!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Vertriebsportalnutzer_aktivieren</name>
        <label>Vertriebsportalnutzer aktivieren</label>
        <locationX>380</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Manager_Profile</targetReference>
        </connector>
        <fields>
            <name>Rolle</name>
            <choiceReferences>Manager</choiceReferences>
            <choiceReferences>Benutzer</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Benutzer</defaultSelectedChoiceReference>
            <fieldText>Rolle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Darf_Provisionsdaten_sehen</name>
            <dataType>Boolean</dataType>
            <fieldText>Darf Provisionsdaten sehen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Benutzer_User_Role.Id</elementReference>
        </value>
    </variables>
</Flow>
