force-app/main/default/flows/Vertriebsportalnutzer_anlegen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>Assistent</name>
        <choiceText>Assistent</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Assistent</elementReference>
        </value>
    </choices>
    <choices>
        <name>Benutzer</name>
        <choiceText>Benutzer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benutzer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manager</name>
        <choiceText>Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manager</stringValue>
        </value>
    </choices>
    <decisions>
        <name>E_Mail_null</name>
        <label>E-Mail null?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Vertriebsportalnutzer_aktivieren</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>E_Mail_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E_Mail_Adresse_leer</targetReference>
            </connector>
            <label>E-Mail null?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula to set naming convention of Nickname.</description>
        <name>CommunityNickname</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Contact.Name} + &quot; (&quot; + {!Get_Contact.Account.Name} + &quot;)&quot;,40)</expression>
    </formulas>
    <formulas>
        <name>roles</name>
        <dataType>String</dataType>
        <expression>IF({!Darf_Provisionsdaten_sehen}, &apos;Provision;&apos;, &apos;&apos;) + IF({!Darf_Strukturen_sehen}, &apos;Struktur anzeigen&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>UserAlias</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Contact.FirstName},1)  + LEFT({!Get_Contact.LastName},4)</expression>
    </formulas>
    <formulas>
        <description>Username convention</description>
        <name>Username</name>
        <dataType>String</dataType>
        <expression>IF({!InternalUserCount} = 0,
{!Get_Contact.Email},
{!Get_Contact.Email} + &quot;.vp&quot;)</expression>
    </formulas>
    <interviewLabel>Vertriebsportalnutzer anlegen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vertriebsportalnutzer anlegen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>E_Mail_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact</name>
        <label>Update contact</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Vertriebsportalnutzer_aktivieren</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_2</name>
        <label>Update contact 2</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EinladungZumVPSenden__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPRollen__c</field>
            <value>
                <elementReference>roles</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>E_Mail_Adresse_leer</name>
        <label>E-Mail Adresse leer</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_contact</targetReference>
        </connector>
        <fields>
            <name>EmailNullText</name>
            <fieldText>&lt;p&gt;Bitte geben Sie eine E-Mail Adresse für den Kontakt &lt;strong&gt;{!Get_Contact.Name}&lt;/strong&gt; an.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Contact.Email</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Vertriebsportalnutzer_aktivieren</name>
        <label>Vertriebsportalnutzer aktivieren</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_contact_2</targetReference>
        </connector>
        <fields>
            <name>Darf_Provisionsdaten_sehen</name>
            <dataType>Boolean</dataType>
            <fieldText>Darf Provisionsdaten sehen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Darf_Strukturen_sehen</name>
            <dataType>Boolean</dataType>
            <fieldText>Darf Strukturen sehen</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Dieses Feld hat aktuell noch keine Auswirkung. Bitte anhaken, wenn der Partner künftig Unter-Accounts im Portal sehen können soll.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Count of internal users for the given VP User credentials.</description>
        <name>InternalUserCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
