force-app/main/default/flows/VP_Login_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Number_of_Logins_counter</name>
        <label>Number_of_Logins_counter</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Activity_Summaries.Number_of_Logins__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Activity_Summaries.Number_of_Logins__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Counter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Login_Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Is Activity Summary Already Exist?</description>
        <name>Activity_Summary_Exist</name>
        <label>Activity Summary Exist</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_Activity_Summary_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activity_Summary_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Summaries.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_of_Logins_counter</targetReference>
            </connector>
            <label>Activity Summary Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>VP Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VP Login Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create New Activity Summary Object</description>
        <name>Create_Activity_Summary_Object</name>
        <label>Create Activity Summary Object</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month__c</field>
            <value>
                <stringValue>12</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Contact_Data.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Logins__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <stringValue>2022</stringValue>
            </value>
        </inputAssignments>
        <object>Activity_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>get data- Activity Summary</description>
        <name>Activity_Summaries</name>
        <label>Activity Summaries</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activity_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Data</name>
        <label>Get Contact Data</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activity_Summary_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Activity_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VPBenutzerLetzterLogin__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Login_Counter</name>
        <label>Update Login Counter</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Number_of_Logins__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Logins__c</field>
            <value>
                <elementReference>Counter</elementReference>
            </value>
        </inputAssignments>
        <object>Activity_Summary__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivitySummaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>get record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
